@charset "UTF-8";
/* 폰트 파일 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800;900&display=swap");
/* 에스코어드림 라이트 */
@font-face {
  font-family: "S-CoreDream";
  font-weight: 300;
  src: url("../font/SCDream3.eot");
  src: url("../font/SCDream3.eot?#iefix") format("embedded-opentype"), url("../font/SCDream3.woff") format("woff"), url("../font/SCDream3.otf") format("opentype");
}
/* 에스코어드림 레귤러 */
@font-face {
  font-family: "S-CoreDream";
  font-weight: 400;
  src: url("../font/SCDream4.eot");
  src: url("../font/SCDream4.eot?#iefix") format("embedded-opentype"), url("../font/SCDream4.woff") format("woff"), url("../font/SCDream4.otf") format("opentype");
}
/* 에스코어드림 미디엄 */
@font-face {
  font-family: "S-CoreDream";
  font-weight: 500;
  src: url("../font/SCDream5.eot");
  src: url("../font/SCDream5.eot?#iefix") format("embedded-opentype"), url("../font/SCDream5.woff") format("woff"), url("../font/SCDream5.otf") format("opentype");
}
/* 에스코어드림 볼드 */
@font-face {
  font-family: "S-CoreDream";
  font-weight: 600;
  src: url("../font/SCDream6.eot");
  src: url("../font/SCDream6.eot?#iefix") format("embedded-opentype"), url("../font/SCDream6.woff") format("woff"), url("../font/SCDream6.otf") format("opentype");
}
/* 노토산스 KR - Light */
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 300;
  src: url("../font/NotoSansKR-Light.eot");
  src: url("../font/NotoSansKR-Light.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansKR-Light.woff") format("woff"), url("../font/NotoSansKR-Light.woff2") format("woff2");
}
/* css 파일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 대체 텍스트 */
.hidden {
  position: absolute;
  top: -99999999px;
  opacity: 0;
}

/* clearfix */
.clearfix:before, .clearfix:after {
  display: block;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

/* 스킵 내비게이션 */
#skip li {
  float: left;
  position: absolute;
  display: block;
  width: 200px;
  top: -30px;
}
#skip li a {
  overflow: hidden;
  width: 1px;
  height: 1px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  padding-top: 5px;
  z-index: -999;
}
#skip li a:focus, #skip li a:active {
  position: absolute;
  width: 100%;
  height: 30px;
  left: 2px;
  top: 32px;
  background: #CE403D;
  z-index: 999;
}

/* 전체 레이아웃 */
#wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1660px;
  height: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.sub_bg {
  position: fixed;
  left: 0;
  top: 79px;
  width: 100%;
  height: 0;
  background: #fff5d9;
  border-top: 1px solid #eee;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  z-index: 99;
  transition: 0.25s;
}
.sub_bg.on {
  top: 80px;
  height: 300px;
}

/* 키프레임 애니메이션 */
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* 헤더 */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  z-index: 100;
}
#header h1.logo {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}
#header h1.logo img {
  display: block;
  width: 180px;
}
#header .menu_web {
  height: inherit;
}
#header .menu_web #gnb {
  height: inherit;
  display: inline-flex;
  margin-left: 250px;
}
#header .menu_web #gnb > li {
  padding: 30px 10px 0;
}
#header .menu_web #gnb > li > a {
  font: 500 17px/1 "S-CoreDream";
  letter-spacing: -0.5px;
  color: #401e20;
}
#header .menu_web #gnb > li .sub_menu {
  display: none;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: calc(100% - 180px);
  height: 300px;
  transition: 0.35s;
}
#header .menu_web #gnb > li .sub_menu h3 {
  font: 500 25px/1 "S-CoreDream";
  letter-spacing: -0.5px;
  color: #000;
  padding: 30px 0;
  flex: 1;
}
#header .menu_web #gnb > li .sub_menu h3::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 1px;
  background: #999;
  vertical-align: middle;
  margin: 0 0 5px 20px;
}
#header .menu_web #gnb > li .sub_menu ul {
  padding: 30px 0;
  flex: 1;
}
#header .menu_web #gnb > li .sub_menu ul li {
  margin-bottom: 15px;
}
#header .menu_web #gnb > li .sub_menu ul li a {
  display: block;
  font: 300 20px/1 "S-CoreDream";
  letter-spacing: -0.5px;
  color: #333;
  cursor: pointer;
  transition: 0.25s;
}
#header .menu_web #gnb > li .sub_menu ul li a:hover {
  font: 500 20px/1 "S-CoreDream";
  color: #f52334;
}
#header .menu_web #gnb > li .sub_menu img {
  width: 100%;
  max-width: 990px;
  height: 100%;
  object-fit: contain;
  flex: 1;
}
#header .menu_web #gnb > li.on .sub_menu {
  display: flex;
  animation: opacity 1s;
}
#header .util {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}
#header .util li {
  position: relative;
  margin-right: 20px;
}
#header .util li::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 2px;
  height: 14px;
  background: #401e1e;
}
#header .util li:last-child {
  margin-right: 0;
}
#header .util li:last-child::after {
  display: none;
}
#header .util li a {
  font: 700 15px/1 "Montserrat";
  color: #401e1e;
}
#header .btn_call {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 40px;
  height: 24px;
  background: url(../img/layout/icon_ham.png);
}
#header .menu_mo {
  display: none;
}

/* 미디어쿼리 */
@media screen and (max-width: 1600px) {
  /* 전체 레이아웃 */
  .sub_bg.on {
    height: 242px;
  }
  /* 헤더 */
  #header h1.logo img {
    width: 130px;
  }
  #header .menu_web #gnb {
    margin-left: 220px;
  }
  #header .menu_web #gnb > li .sub_menu {
    width: calc(100% - 140px);
    height: 200px;
  }
  #header .menu_web #gnb > li .sub_menu h3 {
    padding: 20px 0;
    font: 500 22px/1 "S-CoreDream";
  }
  #header .menu_web #gnb > li .sub_menu h3::after {
    display: none;
  }
  #header .menu_web #gnb > li .sub_menu ul {
    padding: 22px 0;
  }
  #header .menu_web #gnb > li .sub_menu ul li {
    margin-bottom: 12px;
  }
  #header .menu_web #gnb > li .sub_menu ul li a {
    font: 300 18px/1 "S-CoreDream";
  }
  #header .menu_web #gnb > li .sub_menu ul li a:hover {
    font: 500 18px/1 "S-CoreDream";
  }
  #header .menu_web #gnb > li .sub_menu img {
    max-width: 700px;
    height: auto;
    align-self: flex-start;
  }
}
@media screen and (max-width: 1200px) {
  /* 헤더 */
  #header .menu_web {
    display: none;
  }
}
#visual {
  margin-top: 80px;
}
#visual .swiper1 {
  width: 100%;
  height: 100%;
}
#visual .swiper1 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#visual .swiper1 .swiper-pagination {
  bottom: unset;
  left: unset;
  right: 60px;
  top: 30%;
  width: auto;
  height: auto;
}
#visual .swiper1 .swiper-pagination .swiper-pagination-bullet {
  display: block;
  width: 100%;
  height: auto;
  background: transparent;
  border-radius: 0;
  margin: 0;
  margin-bottom: 20px;
  opacity: 0.4;
  text-align: left;
}
#visual .swiper1 .swiper-pagination .swiper-pagination-bullet span {
  display: inline-block;
  vertical-align: middle;
  font: 600 18px/1 "S-CoreDream";
  color: #3c2121;
  letter-spacing: -1px;
  text-align: left;
}
#visual .swiper1 .swiper-pagination .swiper-pagination-bullet span.icon {
  width: 57px;
  height: 57px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 200%;
  margin: 0 10px;
}
#visual .swiper1 .swiper-pagination .swiper-pagination-bullet:nth-of-type(1) span.icon {
  background-image: url(../img/main/slide_icon_1.png);
}
#visual .swiper1 .swiper-pagination .swiper-pagination-bullet:nth-of-type(2) span.icon {
  background-image: url(../img/main/slide_icon_2.png);
}
#visual .swiper1 .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
#visual .swiper1 .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active span.icon {
  background-position: 100% 0;
}

#product {
  background: #fff5d9;
}
#product .row {
  width: 1420px;
  padding: 130px 0;
  text-align: center;
  margin: 0 auto;
}
#product h2 {
  position: relative;
  display: inline-block;
  font-family: "Montserrat";
  font-size: 50px;
  color: #f52334;
  font-weight: 900;
  letter-spacing: -0.5px;
  margin-bottom: 40px;
}
#product h2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #f52334;
  bottom: -5px;
  left: 0;
  transition: 0.5s;
}
#product .tab_pro {
  position: relative;
}
#product .tab_pro > li > a {
  display: block;
  position: absolute;
  top: -100px;
  font: 400 16px/1 "Nunito Sans";
  color: #401e20;
  z-index: 1;
  border: 2px solid #ee7868;
  border-bottom: 0;
  padding: 15px 0 13px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: #ffefa4;
}
#product .tab_pro > li > a::after {
  content: "";
  position: absolute;
  width: 54px;
  height: 54px;
  background: #ffe001;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  z-index: -1;
  opacity: 0;
}
#product .tab_pro > li > a:hover {
  font: 700 16px/1 "Nunito Sans";
}
#product .tab_pro > li > a:hover::after {
  opacity: 1;
}
#product .tab_pro > li:nth-child(1) > a {
  width: 90px;
  left: calc(50% - 220px);
}
#product .tab_pro > li:nth-child(2) > a {
  width: 130px;
  left: calc(50% - 130px);
}
#product .tab_pro > li:nth-child(3) > a {
  width: 100px;
  left: 50%;
}
#product .tab_pro > li:nth-child(4) > a {
  width: 110px;
  left: calc(50% + 100px);
}
#product .tab_pro > li .tab_cont {
  display: none;
  margin-top: 120px;
  overflow: hidden;
}
#product .tab_pro > li .tab_cont .swiper-slide a {
  position: relative;
  display: block;
  width: 330px;
  margin: 0 auto;
}
#product .tab_pro > li .tab_cont .swiper-slide a img {
  display: block;
  width: 100%;
  transition: 0.25s;
}
#product .tab_pro > li .tab_cont .swiper-slide a h3 {
  position: relative;
  display: inline-block;
  font: 600 22px/1 "S-CoreDream";
  color: #3c2121;
  letter-spacing: -1.5px;
  padding: 14px 22px 12px 25px;
  margin-top: 20px;
}
#product .tab_pro > li .tab_cont .swiper-slide a h3::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff5d9;
  border: 2px solid #3c2121;
  z-index: -1;
}
#product .tab_pro > li .tab_cont .swiper-slide a h3::before {
  content: "";
  position: absolute;
  right: -10px;
  bottom: -10px;
  width: 100%;
  height: 100%;
  background: #ee7868;
  border: 2px solid #3c2121;
  z-index: -1;
}
#product .tab_pro > li .tab_cont .swiper-slide a p {
  font: 300 16px/1.3 "Noto Sans KR";
  color: #666;
  letter-spacing: -0.8px;
  word-break: keep-all;
  margin-top: 20px;
}
#product .tab_pro > li .tab_cont .swiper-slide a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  opacity: 0;
  z-index: -1;
  transition: 0.5s;
}
#product .tab_pro > li .tab_cont .swiper-slide a:hover img {
  opacity: 0;
}
#product .tab_pro > li .tab_cont .swiper-slide a:hover::after {
  opacity: 1;
  z-index: 1;
}
#product .tab_pro > li .tab_cont .swiper-slide.slide1 a::after {
  background-image: url(../img/main/pro_1_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide2 a::after {
  background-image: url(../img/main/pro_2_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide3 a::after {
  background-image: url(../img/main/pro_3_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide4 a::after {
  background-image: url(../img/main/pro_4_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide5 a::after {
  background-image: url(../img/main/pro_5_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide6 a::after {
  background-image: url(../img/main/pro_6_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide7 a::after {
  background-image: url(../img/main/pro_7_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide8 a::after {
  background-image: url(../img/main/pro_8_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide9 a::after {
  background-image: url(../img/main/pro_9_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide10 a::after {
  background-image: url(../img/main/pro_10_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide11 a::after {
  background-image: url(../img/main/pro_11_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide12 a::after {
  background-image: url(../img/main/pro_12_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide13 a::after {
  background-image: url(../img/main/pro_13_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide14 a::after {
  background-image: url(../img/main/pro_14_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide15 a::after {
  background-image: url(../img/main/pro_15_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide16 a::after {
  background-image: url(../img/main/pro_16_on.png);
}
#product .tab_pro > li .tab_cont .swiper-button-next {
  top: 35%;
  right: -30px;
  color: #f52334;
}
#product .tab_pro > li .tab_cont .swiper-button-prev {
  top: 35%;
  left: -30px;
  color: #f52334;
}
#product .tab_pro > li.on > a {
  font: 700 16px/1 "Nunito Sans";
}
#product .tab_pro > li.on > a::after {
  opacity: 1;
}
#product .tab_pro > li.on .tab_cont {
  display: block;
}
#product .btn_pro {
  display: inline-block;
  margin-top: 50px;
}
#product .btn_pro ul {
  display: flex;
}
#product .btn_pro ul li:first-child {
  margin-right: 30px;
}
#product .btn_pro ul li:first-child a {
  position: relative;
  display: inline-block;
  width: 287px;
  height: 60px;
  max-width: 287px;
  border-radius: 36px;
  border: solid 3px #f52334;
  font-family: "Nunito Sans";
  color: #f52334;
  font-size: 18px;
  font-weight: 700;
  line-height: 55px;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}
#product .btn_pro ul li:last-child a {
  position: relative;
  display: inline-block;
  width: 287px;
  height: 60px;
  max-width: 287px;
  background: #f52334;
  border-radius: 36px;
  border: solid 3px #f52334;
  font-family: "Nunito Sans";
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 55px;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}

#event {
  background: #ffdcd1;
}
#event .row {
  position: relative;
  width: 1300px;
  padding: 130px 0;
  text-align: center;
  margin: 0 auto;
}
#event h2 {
  position: relative;
  display: inline-block;
  font-family: "Montserrat";
  font-size: 50px;
  color: #f52334;
  font-weight: 900;
  letter-spacing: -0.5px;
  margin-bottom: 40px;
}
#event h2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #f52334;
  bottom: -5px;
  left: 0;
  transition: 0.5s;
}
#event .swiper {
  margin-top: 50px;
}
#event .swiper-slide {
  padding-bottom: 40px;
}
#event .swiper-slide > a {
  position: relative;
  display: block;
  width: 400px;
  margin: 0 auto;
}
#event .swiper-slide > a img {
  display: block;
  width: 100%;
  transition: 0.35s;
  transform: scale(0.85);
}
#event .swiper-slide > a figcaption {
  position: absolute;
  left: 0;
  bottom: -100px;
  width: 100%;
  background: #3c2121;
  padding: 20px 20px 60px;
  transform: scale(1.1);
  opacity: 0;
  transition: 0.35s;
}
#event .swiper-slide > a figcaption p {
  font: 400 18px/1.4 "S-CoreDream";
  color: #fff;
  text-align: left;
  word-break: keep-all;
}
#event .swiper-slide > a figcaption p::after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: -20px;
  width: 30px;
  height: 14px;
  background: url(../img/main/arrow_cont.png) no-repeat;
  transition: 0.35s 0.25s;
}
#event .swiper-slide > a:hover img {
  transform: scale(1.1);
}
#event .swiper-slide > a:hover figcaption {
  bottom: -30px;
  opacity: 1;
}
#event .swiper-slide > a:hover figcaption p::after {
  bottom: 25px;
}
#event .swiper-button-next {
  top: 55%;
  right: -40px;
}
#event .swiper-button-prev {
  top: 55%;
  left: -40px;
}

#news {
  background: #ffdcd1;
}
#news .inner {
  padding: 130px 0;
  text-align: center;
}
#news h2 {
  position: relative;
  display: inline-block;
  font-family: "Montserrat";
  font-size: 50px;
  color: #f52334;
  font-weight: 900;
  letter-spacing: -0.5px;
  margin-bottom: 40px;
}
#news h2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #f52334;
  bottom: -5px;
  left: 0;
  transition: 0.5s;
}
#news ul {
  width: 1000px;
  margin: 0 auto;
}
#news ul li {
  display: flex;
  border-top: 2px solid #000;
  padding: 30px;
  transition: 0.5s;
}
#news ul li:nth-child(2) {
  border-bottom: 2px solid #000;
}
#news ul li > a {
  display: block;
  width: 310px;
  flex-shrink: 0;
}
#news ul li > a img {
  display: block;
  width: 100%;
}
#news ul li .news_cont {
  padding-left: 25px;
  width: calc(100% - 310px);
  text-align: left;
  flex-grow: 1;
}
#news ul li .news_cont span {
  display: inline-block;
  background: #402021;
  color: #fff;
  font: 700 15px/1 "Nunito Sans";
  padding: 8px 22px;
  margin-bottom: 12px;
}
#news ul li .news_cont h3 {
  font: 600 20px/1 "S-CoreDream";
  color: #3c2121;
  letter-spacing: -1px;
  margin-bottom: 20px;
}
#news ul li .news_cont p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font: 300 17px/1.4 "Noto Sans KR";
  color: #401e20;
  letter-spacing: -0.5px;
  margin-bottom: 25px;
}
#news ul li .news_cont a {
  display: inline-block;
  font: 700 16px/1 "Nunito Sans";
  color: #4a4a4a;
  padding-bottom: 2px;
  border-bottom: 1px solid #494949;
  transition: 0.5s;
}
#news ul li:hover {
  background: #ffd1c3;
}
#news ul li:hover .news_cont a {
  color: #f52334;
  border-bottom: 1px solid #f52334;
}
#news .btn_news {
  margin-top: 40px;
}
#news .btn_news a {
  position: relative;
  display: inline-block;
  width: 287px;
  height: 60px;
  max-width: 287px;
  background: #f52334;
  border-radius: 36px;
  border: solid 3px #f52334;
  font-family: "Nunito Sans";
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 55px;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}

#video {
  position: relative;
  background: #fff5c6;
  overflow: hidden;
}
#video::before {
  content: "";
  display: block;
  width: 1260px;
  height: 1260px;
  position: Absolute;
  top: -58%;
  left: -11%;
  background: #ffefa4;
  opacity: 0.6;
  border-radius: 100%;
}
#video .inner {
  padding: 130px 0;
  text-align: center;
}
#video h2 {
  position: relative;
  display: inline-block;
  font-family: "Montserrat";
  font-size: 50px;
  color: #f52334;
  font-weight: 900;
  letter-spacing: -0.5px;
  margin-bottom: 40px;
}
#video h2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #f52334;
  bottom: -5px;
  left: 0;
  transition: 0.5s;
}
#video .vid_wrap {
  width: 1400px;
  margin: 30px auto;
  display: flex;
}
#video .vid_wrap .vid_left {
  position: relative;
  height: 566px;
  flex-shrink: 0;
  flex-basis: 60%;
}
#video .vid_wrap .vid_left article {
  display: none;
  width: 100%;
  height: 100%;
}
#video .vid_wrap .vid_left article > a {
  display: block;
  width: 100%;
  height: 100%;
}
#video .vid_wrap .vid_left article > a > iframe {
  width: 100%;
  height: 100%;
}
#video .vid_wrap .vid_left article > a > .btn_play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 133px;
  height: 132px;
  background: url(../img/main/btn_play.png) no-repeat;
  border: 0;
  cursor: pointer;
  z-index: 2;
}
#video .vid_wrap .vid_left article > a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#video .vid_wrap .vid_left article.on {
  display: block;
}
#video .vid_wrap .vid_left article.vid_1 > a::after {
  background: url(../img/main/video_img_1.jpg) no-repeat center/cover;
}
#video .vid_wrap .vid_left article.vid_2 > a::after {
  background: url(../img/main/video_img_2.jpg) no-repeat center/cover;
}
#video .vid_wrap .vid_right .tit_video .txt {
  font: 700 25px/1 "S-CoreDream";
  color: #3C2121;
  border: 3px solid #3C2121;
  border-radius: 3px;
  text-align: center;
}
/* 미디어쿼리 */
@media screen and (max-width: 1659px) {
  #product .row {
    width: 1000px;
  }
  #product .tab_pro > li .tab_cont .swiper-slide a {
    width: 300px;
  }
}
@media screen and (max-width: 1499px) {
  #visual .swiper1 .swiper-pagination {
    bottom: 5%;
    left: 50%;
    top: unset;
    transform: translateX(-50%);
    width: 100%;
    margin-bottom: 0;
  }
  #visual .swiper1 .swiper-pagination .swiper-pagination-bullet {
    display: inline-block;
    width: auto;
  }
  #visual .swiper1 .swiper-pagination .swiper-pagination-bullet:first-child {
    margin-right: 40px;
  }
  #visual .swiper1 .swiper-pagination .swiper-pagination-bullet span.icon {
    margin: 0 5px;
  }
  #event .row {
    width: 1000px;
  }
  #event .swiper-slide > a {
    width: 300px;
  }
}
@media screen and (max-width: 1199px) {
  #visual .swiper1 .swiper-pagination {
    bottom: 5%;
  }
  #visual .swiper1 .swiper-pagination .swiper-pagination-bullet:first-child {
    margin-right: 15px;
  }
  #visual .swiper1 .swiper-pagination .swiper-pagination-bullet span.icon {
    width: 45px;
    height: 45px;
  }
  #visual .swiper1 .swiper-pagination .swiper-pagination-bullet span:nth-child(3) {
    display: none;
  }
  #product .row {
    width: 660px;
  }
  #event .row {
    width: 650px;
  }
}
@media screen and (max-width: 899px) {
  #visual .swiper1 .swiper-pagination {
    bottom: 2%;
  }
  #visual .swiper1 .swiper-pagination .swiper-pagination-bullet:first-child {
    margin-right: 0;
  }
  #visual .swiper1 .swiper-pagination .swiper-pagination-bullet span {
    font: 600 15px/1 "S-CoreDream";
  }
  #visual .swiper1 .swiper-pagination .swiper-pagination-bullet span:nth-child(1) {
    display: none;
  }
  #visual .swiper1 .swiper-pagination .swiper-pagination-bullet span.icon {
    width: 12px;
    height: 12px;
    background-color: #f7b34e;
    border-radius: 100%;
    margin: 0 2px;
  }
  #visual .swiper1 .swiper-pagination .swiper-pagination-bullet:nth-of-type(1) span.icon {
    background-image: none;
  }
  #visual .swiper1 .swiper-pagination .swiper-pagination-bullet:nth-of-type(2) span.icon {
    background-image: none;
  }
  #product .row {
    width: 100%;
    max-width: 350px;
  }
  #event .row {
    width: 100%;
    max-width: 500px;
  }
  #event .swiper-slide > a {
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  #product .row {
    max-width: 280px;
  }
  #product .tab_pro > li .tab_cont .swiper-slide a {
    width: 250px;
  }
  #product .tab_pro > li .tab_cont .swiper-slide a h3 {
    margin-top: 0;
  }
  #product .tab_pro > li .tab_cont .swiper-button-next {
    top: 30%;
  }
  #product .tab_pro > li .tab_cont .swiper-button-prev {
    top: 30%;
  }
  #event .row {
    width: 100%;
    max-width: 500px;
  }
  #event .swiper-slide > a {
    width: 300px;
  }
}
@media screen and (max-width: 450px) {
  #product .row {
    max-width: 250px;
  }
  #product .tab_pro > li .tab_cont .swiper-slide a {
    width: 230px;
  }
  #product .tab_pro > li .tab_cont .swiper-slide a h3 {
    font: 600 18px/1 "S-CoreDream";
    padding: 12px 20px 9px 22px;
  }
}

/*# sourceMappingURL=style.css.map */
