@charset "UTF-8";
/* 폰트 파일 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
/* 에스코어드림 라이트 */
@font-face {
  font-family: "S-CoreDream";
  font-weight: 300;
  src: url("../font/SCDream3.eot");
  src: url("../font/SCDream3.eot?#iefix") format("embedded-opentype"), url("../font/SCDream3.woff") format("woff"), url("../font/SCDream3.otf") format("opentype");
}
/* 에스코어드림 레귤러 */
@font-face {
  font-family: "S-CoreDream";
  font-weight: 400;
  src: url("../font/SCDream4.eot");
  src: url("../font/SCDream4.eot?#iefix") format("embedded-opentype"), url("../font/SCDream4.woff") format("woff"), url("../font/SCDream4.otf") format("opentype");
}
/* 에스코어드림 미디엄 */
@font-face {
  font-family: "S-CoreDream";
  font-weight: 500;
  src: url("../font/SCDream5.eot");
  src: url("../font/SCDream5.eot?#iefix") format("embedded-opentype"), url("../font/SCDream5.woff") format("woff"), url("../font/SCDream5.otf") format("opentype");
}
/* 에스코어드림 볼드 */
@font-face {
  font-family: "S-CoreDream";
  font-weight: 600;
  src: url("../font/SCDream6.eot");
  src: url("../font/SCDream6.eot?#iefix") format("embedded-opentype"), url("../font/SCDream6.woff") format("woff"), url("../font/SCDream6.otf") format("opentype");
}
/* css 파일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 대체 텍스트 */
.hidden {
  position: absolute;
  top: -99999999px;
  opacity: 0;
}

/* clearfix */
.clearfix:before, .clearfix:after {
  display: block;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

/* 스킵 내비게이션 */
#skip li {
  float: left;
  position: absolute;
  display: block;
  width: 200px;
  top: -30px;
}
#skip li a {
  overflow: hidden;
  width: 1px;
  height: 1px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  padding-top: 5px;
  z-index: -999;
}
#skip li a:focus, #skip li a:active {
  position: absolute;
  width: 100%;
  height: 30px;
  left: 2px;
  top: 32px;
  background: #CE403D;
  z-index: 999;
}

/* 전체 레이아웃 */
#wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
}

.sub_bg {
  position: fixed;
  left: 0;
  top: 79px;
  width: 100%;
  height: 0;
  background: #fff5d9;
  border-top: 1px solid #eee;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  z-index: 99;
  transition: 0.25s;
}
.sub_bg.on {
  top: 80px;
  height: 300px;
}

/* 키프레임 애니메이션 */
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* 헤더 */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  z-index: 100;
}
#header h1.logo {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}
#header h1.logo img {
  display: block;
  width: 166px;
}
#header .menu_web {
  height: inherit;
}
#header .menu_web #gnb {
  height: inherit;
  display: inline-flex;
  margin-left: 270px;
}
#header .menu_web #gnb > li {
  padding: 30px 12px 0;
}
#header .menu_web #gnb > li.down::after {
  content: "\f078";
  display: inline-block;
  vertical-align: middle;
  font-family: "fontAwesome";
  font-size: 16px;
  color: #CE403D;
  margin-left: 2px;
  margin-bottom: 5px;
}
#header .menu_web #gnb > li > a {
  font: 700 17px/1 "Nunito Sans";
  letter-spacing: -0.5px;
  color: #401e20;
  transition: 0.25s;
}
#header .menu_web #gnb > li > a:hover {
  color: #CE403D;
}
#header .menu_web #gnb > li .sub_menu {
  display: none;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: calc(100% - 180px);
  height: 300px;
  padding-top: 30px;
  transition: 0.35s;
}
#header .menu_web #gnb > li .sub_menu h3 {
  display: inline-block;
  vertical-align: top;
  font: 700 25px/1 "Nunito Sans";
  letter-spacing: -0.5px;
  color: #401e20;
  margin-right: 25px;
}
#header .menu_web #gnb > li .sub_menu h3::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 1px;
  background: #999;
  vertical-align: middle;
  margin: 0 0 5px 30px;
}
#header .menu_web #gnb > li .sub_menu ul {
  display: inline-block;
}
#header .menu_web #gnb > li .sub_menu ul li {
  margin-bottom: 15px;
}
#header .menu_web #gnb > li .sub_menu ul li a {
  display: inline-block;
  font: 500 20px/1 "Montserrat";
  letter-spacing: 0;
  color: #333;
  cursor: pointer;
  transition: 0.35s;
}
#header .menu_web #gnb > li .sub_menu ul li a:hover {
  font: 500 20px/1 "Montserrat";
  color: #CE403D;
}
#header .menu_web #gnb > li .sub_menu img {
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  height: 100%;
  object-fit: contain;
}
#header .menu_web #gnb > li.on .sub_menu {
  display: block;
  animation: opacity 1s;
}
#header .util {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
}
#header .util ul {
  display: flex;
}
#header .util ul li {
  position: relative;
  margin-right: 20px;
}
#header .util ul li::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 2px;
  height: 14px;
  background: #401e1e;
}
#header .util ul li:last-child {
  margin-right: 0;
}
#header .util ul li:last-child::after {
  display: none;
}
#header .util ul li a {
  font: 700 15px/1 "Montserrat";
  color: #401e1e;
  transition: 0.35s;
}
#header .util ul li a:hover {
  color: #CE403D;
}
#header .btn_call {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 40px;
  height: 24px;
  background: url(../img/layout/icon_ham.png) no-repeat center/100%;
}
#header .mobile_area {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
#header .mobile_area .menu_mo {
  position: fixed;
  left: 0;
  top: 0;
  width: 600px;
  height: 100%;
  background: #fff;
}
#header .mobile_area .menu_mo .menu_top {
  padding: 40px;
}
#header .mobile_area .menu_mo .menu_top h2 {
  text-align: center;
}
#header .mobile_area .menu_mo .menu_top h2 a {
  display: inline-block;
  width: 160px;
}
#header .mobile_area .menu_mo .menu_top h2 a img {
  width: 100%;
}
#header .mobile_area .menu_mo .menu_top .util_mo {
  margin-top: 30px;
}
#header .mobile_area .menu_mo .menu_top .util_mo ul {
  display: flex;
  justify-content: space-between;
}
#header .mobile_area .menu_mo .menu_top .util_mo ul li {
  width: 49%;
}
#header .mobile_area .menu_mo .menu_top .util_mo ul li:nth-child(1) a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 48px;
  border-radius: 36px;
  border: solid 3px #CE403D;
  font-family: "Nunito Sans";
  color: #CE403D;
  font-size: 18px;
  font-weight: 400;
  line-height: 2.5;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
  overflow: hidden;
}
#header .mobile_area .menu_mo .menu_top .util_mo ul li:nth-child(2) a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 48px;
  background: #CE403D;
  border-radius: 36px;
  border: solid 3px #CE403D;
  font-family: "Nunito Sans";
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 2.5;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}
#header .mobile_area .menu_mo #gnb_mo {
  background: #fff5d9;
  height: 100%;
  padding: 45px 30px;
}
#header .mobile_area .menu_mo #gnb_mo > ul > li {
  margin-bottom: 15px;
}
#header .mobile_area .menu_mo #gnb_mo > ul > li > a {
  position: relative;
  display: block;
  background: #ffe6a0;
  font: 500 22px/1 "Montserrat";
  color: #3c2121;
  text-align: center;
  padding: 14px;
  transition: 0.1s;
}
#header .mobile_area .menu_mo #gnb_mo > ul > li.down > a::after {
  content: "\f078";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-family: "fontAwesome";
  font-size: 18px;
  color: #CE403D;
}
#header .mobile_area .menu_mo #gnb_mo > ul > li .sub_menu {
  display: none;
  position: relative;
  width: 97%;
  padding: 35px 35px 28px;
  margin: 15px 0 30px;
  z-index: 1;
  transition: 0.35s;
}
#header .mobile_area .menu_mo #gnb_mo > ul > li .sub_menu::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 7px;
  width: 100%;
  height: 100%;
  background: #ee7868;
  border: 3px solid #3C2121;
  z-index: -1;
  transition: 0.35s;
}
#header .mobile_area .menu_mo #gnb_mo > ul > li .sub_menu::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border: 3px solid #3C2121;
  z-index: -1;
  transition: 0.35s;
}
#header .mobile_area .menu_mo #gnb_mo > ul > li .sub_menu ul li {
  margin-bottom: 15px;
}
#header .mobile_area .menu_mo #gnb_mo > ul > li .sub_menu ul li a {
  display: inline-block;
  font: 500 20px/1.3 "Montserrat";
  color: #3c2121;
  border-bottom: 1px solid transparent;
}
#header .mobile_area .menu_mo #gnb_mo > ul > li .sub_menu ul li:last-child {
  margin-bottom: 0;
}
#header .mobile_area .menu_mo #gnb_mo > ul > li .sub_menu ul li:hover a {
  color: #f52334;
  border-bottom: 1px solid #f52334;
}
#header .mobile_area .menu_mo #gnb_mo > ul > li.on > a {
  background: #3c2121;
  color: #fff;
}
#header .mobile_area .menu_mo #gnb_mo > ul > li.on .sub_menu {
  display: block;
}
#header .mobile_area .menu_mo #gnb_mo > ul > li.on.down > a::after {
  content: "\f077";
  color: #ffe6a0;
}
#header .mobile_area .menu_mo .btn_close {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  width: 30px;
  height: 30px;
  background: url(../img/layout/ham_close.png) no-repeat center/100%;
}
#header .mobile_area.on {
  display: block;
}

/* 푸터 */
#footer {
  background: #3b2120;
}
#footer .foot_box_1 .inner {
  padding: 0 30px;
}
#footer .foot_box_1 .foot_menu {
  position: absolute;
  left: 198px;
  top: 50px;
  z-index: 1;
}
#footer .foot_box_1 .foot_menu ul li {
  position: relative;
  display: inline-block;
  padding: 0 18px;
}
#footer .foot_box_1 .foot_menu ul li a {
  display: block;
  font: 400 17px/1.5 "Nunito Sans";
  letter-spacing: -0.5px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.35s;
}
#footer .foot_box_1 .foot_menu ul li a:hover {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #fff;
}
#footer .foot_box_1 .foot_menu ul li::after {
  content: "";
  position: absolute;
  right: -2px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 70%;
  background: rgba(255, 255, 255, 0.2);
}
#footer .foot_box_1 .foot_menu ul li:last-child::after {
  display: none;
}
#footer .foot_box_2 .inner {
  padding: 50px 30px 45px;
}
#footer .foot_box_2 .foot_logo {
  display: inline-block;
}
#footer .foot_box_2 .foot_logo a {
  display: block;
}
#footer .foot_box_2 .foot_logo a img {
  width: 130px;
}
#footer .foot_box_2 .sns_menu {
  position: absolute;
  right: 30px;
  top: 45px;
}
#footer .foot_box_2 .sns_menu ul {
  display: flex;
}
#footer .foot_box_2 .sns_menu ul li {
  margin-right: 15px;
}
#footer .foot_box_2 .sns_menu ul li a {
  display: block;
}
#footer .foot_box_2 .sns_menu ul li:last-child {
  margin-right: 0;
}
#footer .foot_box_2 .foot_txt {
  display: inline-block;
  margin-left: 50px;
}
#footer .foot_box_2 .foot_txt p {
  font: 300 15px/1.4 "Noto Sans KR";
  color: rgba(255, 255, 255, 0.4);
}
#footer .foot_box_2 .foot_txt address {
  font: 300 15px/1.4 "Noto Sans KR";
  color: rgba(255, 255, 255, 0.4);
}
#footer .foot_copy {
  background: #2d1817;
  padding: 15px 0;
  text-align: center;
}
#footer .foot_copy p {
  font: 300 14px/1.3 "Roboto";
  color: rgba(255, 255, 255, 0.4);
}

/* 미디어쿼리 */
@media screen and (max-width: 1599px) {
  /* 전체 레이아웃 */
  .sub_bg.on {
    height: 200px;
  }
  /* 헤더 */
  #header h1.logo img {
    width: 130px;
  }
  #header .menu_web #gnb {
    margin-left: 220px;
  }
  #header .menu_web #gnb > li .sub_menu {
    width: calc(100% - 140px);
    height: 200px;
  }
  #header .menu_web #gnb > li .sub_menu h3 {
    font: 700 22px/1 "Nunito Sans";
  }
  #header .menu_web #gnb > li .sub_menu ul li {
    margin-bottom: 12px;
  }
  #header .menu_web #gnb > li .sub_menu ul li a {
    font: 500 18px/1 "Montserrat";
  }
  #header .menu_web #gnb > li .sub_menu ul li a:hover {
    font: 500 18px/1 "Montserrat";
  }
}
@media screen and (max-width: 1199px) {
  /* 헤더 */
  #header .menu_web {
    display: none;
  }
  /* 푸터 */
  #footer .foot_box_1 {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
  }
  #footer .foot_box_1 .foot_menu {
    position: static;
  }
  #footer .foot_box_2 {
    text-align: center;
  }
  #footer .foot_box_2 .inner {
    padding: 30px;
  }
  #footer .foot_box_2 .foot_logo {
    display: block;
  }
  #footer .foot_box_2 .foot_logo a img {
    width: 100px;
  }
  #footer .foot_box_2 .sns_menu {
    position: static;
    display: inline-block;
    margin-top: 10px;
  }
  #footer .foot_box_2 .sns_menu ul li a img {
    width: 40px;
  }
  #footer .foot_box_2 .foot_txt {
    display: block;
    margin-left: 0;
    margin-top: 10px;
  }
}
@media screen and (max-width: 600px) {
  /* 헤더 */
  #header .mobile_area .menu_mo {
    width: 100%;
    max-width: 600px;
  }
  #header .mobile_area .menu_mo .menu_top {
    padding: 30px;
  }
  /* 푸터 */
  #footer .foot_box_1 .foot_menu ul li {
    display: inline-block;
    padding: 0 10px;
  }
  #footer .foot_box_1 .foot_menu ul li a {
    font: 400 15px/1.5 "Nunito Sans";
  }
}
@media screen and (max-width: 450px) {
  /* 헤더 */
  #header h1.logo {
    left: 20px;
  }
  #header h1.logo img {
    width: 115px;
  }
  #header .util {
    display: none;
  }
  #header .btn_call {
    right: 20px;
    width: 32px;
  }
  #header .mobile_area .menu_mo .menu_top h2 a {
    width: 130px;
  }
  #header .mobile_area .menu_mo .menu_top .util_mo ul {
    flex-direction: column;
    align-items: center;
  }
  #header .mobile_area .menu_mo .menu_top .util_mo ul li {
    width: 100%;
    max-width: 200px;
  }
  #header .mobile_area .menu_mo .menu_top .util_mo ul li:nth-child(1) {
    margin-bottom: 10px;
  }
  #header .mobile_area .menu_mo #gnb_mo {
    padding: 35px 30px;
  }
  #header .mobile_area .menu_mo #gnb_mo > ul > li > a {
    font: 500 18px/1 "Montserrat";
  }
  #header .mobile_area .menu_mo #gnb_mo > ul > li.down > a::after {
    right: 10px;
    font-size: 14px;
  }
  #header .mobile_area .menu_mo #gnb_mo > ul > li .sub_menu {
    padding: 25px 25px 18px;
  }
  #header .mobile_area .menu_mo #gnb_mo > ul > li .sub_menu ul li {
    margin-bottom: 10px;
  }
  #header .mobile_area .menu_mo #gnb_mo > ul > li .sub_menu ul li a {
    font: 500 16px/1.3 "Montserrat";
  }
  #header .mobile_area .menu_mo .btn_close {
    width: 25px;
    height: 25px;
  }
}
#visual {
  margin-top: 80px;
}
#visual .swiper1 {
  width: 100%;
  height: 100%;
}
#visual .swiper1 .swiper-slide.slide1 {
  background: #f0e7d6;
}
#visual .swiper1 .swiper-slide.slide2 {
  background: #bd7c65;
}
#visual .swiper1 .swiper-slide img {
  display: block;
  width: 100%;
  max-width: 1660px;
  height: calc(100vh - 80px);
  object-fit: cover;
  margin: 0 auto;
}
#visual .swiper1 .swiper-pagination {
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  margin-bottom: 0;
}
#visual .swiper1 .swiper-pagination .swiper-pagination-bullet {
  display: inline-block;
  width: auto;
  height: auto;
  background: transparent;
  border-radius: 0;
  margin: 0;
  opacity: 0.4;
  text-align: left;
}
#visual .swiper1 .swiper-pagination .swiper-pagination-bullet:first-child {
  margin-right: 40px;
}
#visual .swiper1 .swiper-pagination .swiper-pagination-bullet span {
  display: inline-block;
  vertical-align: middle;
  font: 600 18px/1 "S-CoreDream";
  color: #3c2121;
  letter-spacing: -1px;
  text-align: left;
}
#visual .swiper1 .swiper-pagination .swiper-pagination-bullet span.icon {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 200%;
  margin: 0 5px;
}
#visual .swiper1 .swiper-pagination .swiper-pagination-bullet:nth-of-type(1) span.icon {
  background-image: url(../img/main/slide_icon_1.png);
}
#visual .swiper1 .swiper-pagination .swiper-pagination-bullet:nth-of-type(2) span.icon {
  background-image: url(../img/main/slide_icon_2.png);
}
#visual .swiper1 .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
#visual .swiper1 .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active span.icon {
  background-position: 100% 0;
}

#product {
  background: #fff5d9;
}
#product .row {
  width: 1420px;
  padding: 130px 0 60px;
  text-align: center;
  margin: 0 auto;
}
#product h2 {
  position: relative;
  display: inline-block;
  font-family: "Montserrat";
  font-size: 50px;
  color: #CE403D;
  font-weight: 900;
  letter-spacing: -0.5px;
  margin-bottom: 40px;
}
#product h2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #CE403D;
  bottom: -5px;
  left: 0;
  transition: 0.5s;
}
#product .tab_pro {
  position: relative;
}
#product .tab_pro > li > a {
  display: inline-block;
  position: absolute;
  top: -90px;
  font: 700 16px/1 "Nunito Sans";
  color: #3c2121;
  border: 2px solid #ffefa4;
  border-radius: 25px;
  background: #ffefa4;
  padding: 5px 0 3px;
  transition: 0.35s;
}
#product .tab_pro > li > a::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-right: 2px;
  margin-bottom: 5px;
  vertical-align: middle;
}
#product .tab_pro > li > a:hover {
  background: #fae47e;
  border: 2px solid #fae47e;
}
#product .tab_pro > li:nth-child(1) > a {
  width: 120px;
  left: calc(50% - 310px);
}
#product .tab_pro > li:nth-child(2) > a {
  width: 170px;
  left: calc(50% - 180px);
}
#product .tab_pro > li:nth-child(3) > a {
  width: 150px;
  left: 50%;
}
#product .tab_pro > li:nth-child(4) > a {
  width: 140px;
  left: calc(50% + 160px);
}
#product .tab_pro > li:nth-child(1) > a::before {
  background-image: url(../img/main/list_icon_1.png);
}
#product .tab_pro > li:nth-child(2) > a::before {
  background-image: url(../img/main/list_icon_2.png);
}
#product .tab_pro > li:nth-child(3) > a::before {
  background-image: url(../img/main/list_icon_3.png);
}
#product .tab_pro > li:nth-child(4) > a::before {
  background-image: url(../img/main/list_icon_4.png);
}
#product .tab_pro > li .tab_cont {
  display: none;
  margin-top: 100px;
  overflow: hidden;
}
#product .tab_pro > li .tab_cont .swiper-slide a {
  position: relative;
  display: block;
  width: 330px;
  margin: 0 auto;
}
#product .tab_pro > li .tab_cont .swiper-slide a img {
  display: block;
  width: 100%;
  transition: 0.25s;
}
#product .tab_pro > li .tab_cont .swiper-slide a h3 {
  position: relative;
  display: inline-block;
  font: 600 22px/1 "S-CoreDream";
  color: #3c2121;
  letter-spacing: -1.5px;
  padding: 14px 22px 12px 25px;
  margin-top: 20px;
}
#product .tab_pro > li .tab_cont .swiper-slide a h3::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff5d9;
  border: 2px solid #3c2121;
  z-index: -1;
}
#product .tab_pro > li .tab_cont .swiper-slide a h3::before {
  content: "";
  position: absolute;
  right: -10px;
  bottom: -10px;
  width: 100%;
  height: 100%;
  background: #ee7868;
  border: 2px solid #3c2121;
  z-index: -1;
}
#product .tab_pro > li .tab_cont .swiper-slide a p {
  font: 400 16px/1.3 "Noto Sans KR";
  color: #666;
  letter-spacing: -0.8px;
  word-break: keep-all;
  margin-top: 20px;
}
#product .tab_pro > li .tab_cont .swiper-slide a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  opacity: 0;
  z-index: -1;
  transition: 0.5s;
}
#product .tab_pro > li .tab_cont .swiper-slide a:hover img {
  opacity: 0;
}
#product .tab_pro > li .tab_cont .swiper-slide a:hover::after {
  opacity: 1;
  z-index: 1;
}
#product .tab_pro > li .tab_cont .swiper-slide.slide1 a::after {
  background-image: url(../img/main/pro_1_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide2 a::after {
  background-image: url(../img/main/pro_2_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide3 a::after {
  background-image: url(../img/main/pro_3_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide4 a::after {
  background-image: url(../img/main/pro_4_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide5 a::after {
  background-image: url(../img/main/pro_5_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide6 a::after {
  background-image: url(../img/main/pro_6_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide7 a::after {
  background-image: url(../img/main/pro_7_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide8 a::after {
  background-image: url(../img/main/pro_8_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide9 a::after {
  background-image: url(../img/main/pro_9_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide10 a::after {
  background-image: url(../img/main/pro_10_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide11 a::after {
  background-image: url(../img/main/pro_11_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide12 a::after {
  background-image: url(../img/main/pro_12_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide13 a::after {
  background-image: url(../img/main/pro_13_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide14 a::after {
  background-image: url(../img/main/pro_14_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide15 a::after {
  background-image: url(../img/main/pro_15_on.png);
}
#product .tab_pro > li .tab_cont .swiper-slide.slide16 a::after {
  background-image: url(../img/main/pro_16_on.png);
}
#product .tab_pro > li .tab_cont .swiper-button-next {
  top: 40%;
  right: -30px;
  color: #CE403D;
}
#product .tab_pro > li .tab_cont .swiper-button-prev {
  top: 40%;
  left: -30px;
  color: #CE403D;
}
#product .tab_pro > li.on > a {
  background: #fae47e;
  border: 2px solid #3c2121;
}
#product .tab_pro > li.on .tab_cont {
  display: block;
}
#product .btn_pro {
  padding-bottom: 100px;
  text-align: center;
}
#product .btn_pro ul {
  display: inline-flex;
}
#product .btn_pro ul li:first-child {
  margin-right: 30px;
}
#product .btn_pro ul li:first-child a {
  position: relative;
  display: inline-block;
  width: 287px;
  height: 60px;
  border-radius: 36px;
  border: solid 3px #CE403D;
  font-family: "Nunito Sans";
  color: #CE403D;
  font-size: 18px;
  font-weight: 700;
  line-height: 3;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
  overflow: hidden;
}
#product .btn_pro ul li:last-child a {
  position: relative;
  display: inline-block;
  width: 287px;
  height: 60px;
  background: #CE403D;
  border-radius: 36px;
  border: solid 3px #CE403D;
  font-family: "Nunito Sans";
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 3;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}

#event {
  background: #def1ee;
}
#event .row {
  position: relative;
  width: 1420px;
  padding: 130px 0 100px;
  text-align: center;
  margin: 0 auto;
}
#event h2 {
  position: relative;
  display: inline-block;
  font-family: "Montserrat";
  font-size: 50px;
  color: #CE403D;
  font-weight: 900;
  letter-spacing: -0.5px;
  margin-bottom: 40px;
}
#event h2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #CE403D;
  bottom: -5px;
  left: 0;
  transition: 0.5s;
}
#event .swiper-slide {
  padding-bottom: 150px;
}
#event .swiper-slide > a {
  position: relative;
  display: block;
  width: 330px;
  margin: 0 auto;
}
#event .swiper-slide > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 13px;
  background: #ee7868;
  z-index: 1;
  transition: 0.35s;
}
#event .swiper-slide > a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 13px;
  background: #ee7868;
  z-index: 1;
  transition: 0.35s;
}
#event .swiper-slide > a img {
  position: relative;
  display: block;
  width: 100%;
  transition: 0.25s;
  transform: scale(0.85);
}
#event .swiper-slide > a img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 200px;
  height: 200px;
  background: #fff;
  z-index: 10;
}
#event .swiper-slide > a figure::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 13px;
  height: 0;
  background: #ee7868;
  z-index: 1;
  transition: 0.35s;
}
#event .swiper-slide > a figure::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 13px;
  height: 0;
  background: #ee7868;
  z-index: 1;
  transition: 0.35s;
}
#event .swiper-slide > a figure figcaption {
  position: absolute;
  left: 0;
  bottom: -300px;
  width: 100%;
  height: 140px;
  background: #3c2121;
  padding: 30px;
  opacity: 0;
  transition: 0.35s;
}
#event .swiper-slide > a figure figcaption p {
  font: 400 18px/1.4 "S-CoreDream";
  color: #fff;
  text-align: left;
  word-break: keep-all;
}
#event .swiper-slide > a figure figcaption p::after {
  content: "";
  position: absolute;
  left: 30px;
  bottom: -10px;
  width: 30px;
  height: 14px;
  background: url(../img/main/arrow_cont.png) no-repeat;
  transition: 0.35s 0.25s;
}
#event .swiper-slide > a:hover::before {
  width: 100%;
}
#event .swiper-slide > a:hover::after {
  width: 100%;
}
#event .swiper-slide > a:hover img {
  transform: scale(1);
}
#event .swiper-slide > a:hover figure {
  border-top-width: 13px;
  border-bottom-width: 13px;
}
#event .swiper-slide > a:hover figure::before {
  height: 100%;
}
#event .swiper-slide > a:hover figure::after {
  height: 100%;
}
#event .swiper-slide > a:hover figure figcaption {
  bottom: -140px;
  opacity: 3;
}
#event .swiper-slide > a:hover figure figcaption p::after {
  bottom: 30px;
}
#event .swiper-button-next {
  top: 52%;
  right: -30px;
  color: #CE403D;
}
#event .swiper-button-prev {
  top: 52%;
  left: -30px;
  color: #CE403D;
}

#banner {
  background: url(../img/main/banner.png) no-repeat center/cover fixed;
}
#banner .inner {
  padding: 130px 0;
  text-align: center;
}
#banner .inner h3 {
  font: 900 50px/1.3 "Montserrat";
  color: #CE403D;
}
#banner .inner p {
  font: 700 26px/1.3 "Montserrat";
  color: #3c2121;
}

#news {
  position: relative;
  background: #fff5c9;
  overflow: hidden;
}
#news::before {
  content: "";
  display: block;
  width: 1260px;
  height: 1260px;
  position: Absolute;
  top: -58%;
  left: -11%;
  background: #ffefa4;
  opacity: 0.6;
  border-radius: 100%;
}
#news .inner {
  padding: 130px 150px 100px;
  text-align: center;
}
#news h2 {
  position: relative;
  display: inline-block;
  font-family: "Montserrat";
  font-size: 50px;
  color: #CE403D;
  font-weight: 900;
  letter-spacing: -0.5px;
  margin-bottom: 40px;
}
#news h2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #CE403D;
  bottom: -5px;
  left: 0;
  transition: 0.5s;
}
#news ul {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
#news ul li {
  display: flex;
  border-top: 2px solid #3c2121;
  padding: 30px;
  transition: 0.5s;
}
#news ul li:nth-child(2) {
  border-bottom: 2px solid #3c2121;
}
#news ul li > a {
  display: block;
  width: 100%;
  max-width: 310px;
  flex-shrink: 0;
}
#news ul li > a img {
  display: block;
  width: 100%;
}
#news ul li .news_cont {
  width: calc(100% - 310px);
  padding-left: 25px;
  text-align: left;
  flex-grow: 1;
}
#news ul li .news_cont span {
  display: inline-block;
  background: #3c2121;
  color: #fff;
  font: 500 15px/1 "Roboto";
  padding: 8px 22px;
  margin-bottom: 12px;
}
#news ul li .news_cont h3 {
  font: 600 20px/1.3 "S-CoreDream";
  color: #3c2121;
  letter-spacing: -1px;
  margin-bottom: 20px;
}
#news ul li .news_cont p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font: 300 17px/1.4 "Noto Sans KR";
  color: #401e20;
  letter-spacing: -0.5px;
  margin-bottom: 25px;
}
#news ul li .news_cont a {
  display: inline-block;
  font: 700 16px/1 "Nunito Sans";
  color: #4a4a4a;
  padding-bottom: 2px;
  border-bottom: 1px solid #494949;
  transition: 0.5s;
}
#news ul li:hover {
  background: rgba(255, 255, 255, 0.3);
}
#news ul li:hover .news_cont a {
  color: #CE403D;
  border-bottom: 1px solid #CE403D;
}
#news .btn_news {
  margin-top: 60px;
}
#news .btn_news a {
  position: relative;
  display: inline-block;
  width: 287px;
  height: 60px;
  background: #CE403D;
  border-radius: 36px;
  border: solid 3px #CE403D;
  font-family: "Nunito Sans";
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 3;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}

/* 미디어쿼리 */
@media screen and (max-width: 1599px) {
  #product .row {
    width: 1000px;
  }
  #product .tab_pro > li .tab_cont .swiper-slide a {
    width: 300px;
  }
  #event .row {
    width: 1050px;
  }
}
@media screen and (max-width: 1199px) {
  #visual .swiper1 .swiper-slide img {
    height: calc(90vh - 80px);
  }
  #visual .swiper1 .swiper-pagination {
    bottom: 20px;
  }
  #visual .swiper1 .swiper-pagination .swiper-pagination-bullet:first-child {
    margin-right: 10px;
  }
  #visual .swiper1 .swiper-pagination .swiper-pagination-bullet span.icon {
    width: 40px;
    height: 40px;
  }
  #visual .swiper1 .swiper-pagination .swiper-pagination-bullet span:nth-child(3) {
    display: none;
  }
  #product .row {
    width: 660px;
  }
  #product .tab_pro > li > a {
    top: -80px;
    padding: 10px 0 8px;
  }
  #product .tab_pro > li > a::before {
    display: none;
  }
  #product .tab_pro > li:nth-child(1) > a {
    width: 100px;
    left: calc(50% - 270px);
  }
  #product .tab_pro > li:nth-child(2) > a {
    width: 150px;
    left: calc(50% - 160px);
  }
  #product .tab_pro > li:nth-child(3) > a {
    width: 130px;
    left: 50%;
  }
  #product .tab_pro > li:nth-child(4) > a {
    width: 120px;
    left: calc(50% + 140px);
  }
  #product .tab_pro > li .tab_cont {
    margin-top: 80px;
  }
  #product .btn_pro ul li:first-child a {
    position: relative;
    display: inline-block;
    width: 220px;
    height: 52px;
    border-radius: 36px;
    border: solid 3px #CE403D;
    font-family: "Nunito Sans";
    color: #CE403D;
    font-size: 16px;
    font-weight: 700;
    line-height: 3;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    overflow: hidden;
  }
  #product .btn_pro ul li:last-child a {
    position: relative;
    display: inline-block;
    width: 220px;
    height: 52px;
    background: #CE403D;
    border-radius: 36px;
    border: solid 3px #CE403D;
    font-family: "Nunito Sans";
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 3;
    text-align: center;
    z-index: 1;
    overflow: hidden;
  }
  #event .row {
    width: 680px;
  }
  #event .swiper-slide > a {
    width: 300px;
  }
  #event .swiper-slide > a::before {
    display: none;
  }
  #event .swiper-slide > a::after {
    display: none;
  }
  #event .swiper-slide > a img {
    transform: scale(1);
  }
  #event .swiper-slide > a figure::before {
    display: none;
  }
  #event .swiper-slide > a figure::after {
    display: none;
  }
  #event .swiper-slide > a figure figcaption {
    height: 120px;
    padding: 20px;
    bottom: -120px;
    opacity: 1;
  }
  #event .swiper-slide > a figure figcaption p::after {
    display: none;
  }
  #event .swiper-slide > a:hover figure figcaption {
    bottom: -120px;
  }
  #event .swiper-button-next {
    top: 55%;
  }
  #event .swiper-button-prev {
    top: 55%;
  }
  #banner .inner h3 {
    font: 900 45px/1.3 "Montserrat";
  }
  #banner .inner p {
    font: 700 20px/1.3 "Montserrat";
  }
  #news .inner {
    padding: 130px 100px 100px;
  }
  #news .btn_news a {
    position: relative;
    display: inline-block;
    width: 220px;
    height: 52px;
    background: #CE403D;
    border-radius: 36px;
    border: solid 3px #CE403D;
    font-family: "Nunito Sans";
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 3;
    text-align: center;
    z-index: 1;
    overflow: hidden;
  }
}
@media screen and (max-width: 899px) {
  #visual .swiper1 .swiper-slide img {
    height: calc(70vh - 80px);
  }
  #visual .swiper1 .swiper-pagination {
    bottom: 10px;
  }
  #visual .swiper1 .swiper-pagination .swiper-pagination-bullet:first-child {
    margin-right: 0;
  }
  #visual .swiper1 .swiper-pagination .swiper-pagination-bullet span {
    font: 600 15px/1 "S-CoreDream";
  }
  #visual .swiper1 .swiper-pagination .swiper-pagination-bullet span:nth-child(1) {
    display: none;
  }
  #visual .swiper1 .swiper-pagination .swiper-pagination-bullet span.icon {
    width: 12px;
    height: 12px;
    background-color: #f7b34e;
    border-radius: 100%;
    margin: 0 2px;
  }
  #visual .swiper1 .swiper-pagination .swiper-pagination-bullet:nth-of-type(1) span.icon {
    background-image: none;
  }
  #visual .swiper1 .swiper-pagination .swiper-pagination-bullet:nth-of-type(2) span.icon {
    background-image: none;
  }
  #product .row {
    width: 100%;
    max-width: 350px;
    padding: 80px 0 50px;
  }
  #product h2 {
    position: relative;
    display: inline-block;
    font-family: "Montserrat";
    font-size: 40px;
    color: #CE403D;
    font-weight: 900;
    letter-spacing: -0.5px;
    margin-bottom: 30px;
  }
  #product .tab_pro > li > a {
    top: -70px;
    font: 400 14px/1 "Nunito Sans";
  }
  #product .tab_pro > li:nth-child(1) > a {
    width: 80px;
    left: calc(50% - 240px);
  }
  #product .tab_pro > li:nth-child(2) > a {
    width: 140px;
    left: calc(50% - 150px);
  }
  #product .tab_pro > li:nth-child(3) > a {
    width: 110px;
    left: 50%;
  }
  #product .tab_pro > li:nth-child(4) > a {
    width: 100px;
    left: calc(50% + 120px);
  }
  #product .tab_pro > li .tab_cont {
    margin-top: 70px;
  }
  #product .btn_pro {
    padding-bottom: 80px;
  }
  #event .row {
    width: 100%;
    max-width: 350px;
    padding: 80px 0;
  }
  #event h2 {
    position: relative;
    display: inline-block;
    font-family: "Montserrat";
    font-size: 40px;
    color: #CE403D;
    font-weight: 900;
    letter-spacing: -0.5px;
    margin-bottom: 30px;
  }
  #event .swiper-slide > a {
    width: 330px;
  }
  #banner .inner {
    padding: 100px;
  }
  #banner .inner h3 {
    font: 900 40px/1 "Montserrat";
    margin-bottom: 10px;
  }
  #banner .inner p {
    font: 700 18px/1.3 "Montserrat";
  }
  #news .inner {
    padding: 80px;
  }
  #news h2 {
    position: relative;
    display: inline-block;
    font-family: "Montserrat";
    font-size: 40px;
    color: #CE403D;
    font-weight: 900;
    letter-spacing: -0.5px;
    margin-bottom: 30px;
  }
  #news ul li {
    display: block;
  }
  #news ul li .news_cont {
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }
  #news ul li .news_cont h3 {
    font: 600 18px/1.3 "S-CoreDream";
    margin-bottom: 10px;
  }
  #news ul li .news_cont span {
    display: none;
  }
  #news ul li .news_cont p {
    font: 300 15px/1.4 "Noto Sans KR";
    -webkit-line-clamp: 3;
    margin-bottom: 20px;
  }
  #news .btn_news {
    margin-top: 50px;
  }
}
@media screen and (max-width: 750px) {
  #visual .swiper1 .swiper-slide img {
    height: 100%;
  }
}
@media screen and (max-width: 600px) {
  #product .row {
    max-width: 280px;
    padding: 80px 0 20px;
  }
  #product .tab_pro > li > a {
    top: -60px;
    font: 400 12px/1 "Nunito Sans";
  }
  #product .tab_pro > li:nth-child(1) > a {
    width: 50px;
    left: calc(53% - 160px);
  }
  #product .tab_pro > li:nth-child(2) > a {
    width: 90px;
    left: calc(53% - 100px);
  }
  #product .tab_pro > li:nth-child(3) > a {
    width: 70px;
    left: 53%;
  }
  #product .tab_pro > li:nth-child(4) > a {
    width: 60px;
    left: calc(53% + 80px);
  }
  #product .tab_pro > li .tab_cont {
    margin-top: 60px;
  }
  #product .tab_pro > li .tab_cont .swiper-slide a {
    width: 250px;
  }
  #product .tab_pro > li .tab_cont .swiper-slide a h3 {
    margin-top: 10px;
  }
  #product .btn_pro ul li:first-child {
    margin-right: 20px;
  }
  #product .btn_pro ul li:first-child a {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 48px;
    border-radius: 36px;
    border: solid 3px #CE403D;
    font-family: "Nunito Sans";
    color: #CE403D;
    font-size: 14px;
    font-weight: 700;
    line-height: 3;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    overflow: hidden;
  }
  #product .btn_pro ul li:last-child a {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 48px;
    background: #CE403D;
    border-radius: 36px;
    border: solid 3px #CE403D;
    font-family: "Nunito Sans";
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 3;
    text-align: center;
    z-index: 1;
    overflow: hidden;
  }
  #event .row {
    width: 100%;
    max-width: 320px;
  }
  #event .swiper-slide > a {
    width: 300px;
  }
  #banner .inner {
    padding: 100px 80px;
  }
  #banner .inner h3 {
    font: 900 35px/1.1 "Montserrat";
    margin-bottom: 10px;
  }
  #banner .inner p {
    font: 700 14px/1.3 "Montserrat";
  }
  #news .inner {
    padding: 80px 50px;
  }
  #news .btn_news a {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 48px;
    background: #CE403D;
    border-radius: 36px;
    border: solid 3px #CE403D;
    font-family: "Nunito Sans";
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 3;
    text-align: center;
    z-index: 1;
    overflow: hidden;
  }
}
@media screen and (max-width: 450px) {
  #product .row {
    max-width: 250px;
  }
  #product .tab_pro > li .tab_cont .swiper-slide a {
    width: 230px;
  }
  #product .tab_pro > li .tab_cont .swiper-slide a h3 {
    font: 600 18px/1 "S-CoreDream";
    padding: 12px 20px 9px 22px;
  }
  #product .tab_pro > li .tab_cont .swiper-button-next {
    top: 35%;
  }
  #product .tab_pro > li .tab_cont .swiper-button-prev {
    top: 35%;
  }
  #product .btn_pro ul li:first-child {
    margin-right: 10px;
  }
  #product .btn_pro ul li:first-child a {
    position: relative;
    display: inline-block;
    width: 130px;
    height: 48px;
    border-radius: 36px;
    border: solid 3px #CE403D;
    font-family: "Nunito Sans";
    color: #CE403D;
    font-size: 14px;
    font-weight: 700;
    line-height: 3;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    overflow: hidden;
  }
  #product .btn_pro ul li:last-child a {
    position: relative;
    display: inline-block;
    width: 130px;
    height: 48px;
    background: #CE403D;
    border-radius: 36px;
    border: solid 3px #CE403D;
    font-family: "Nunito Sans";
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 3;
    text-align: center;
    z-index: 1;
    overflow: hidden;
  }
  #event .row {
    width: 100%;
    max-width: 250px;
  }
  #event .swiper-slide > a {
    width: 230px;
  }
  #event .swiper-slide > a figure figcaption {
    height: 100px;
    bottom: -100px;
  }
  #event .swiper-slide > a figure figcaption p {
    font: 400 16px/1.4 "S-CoreDream";
  }
  #event .swiper-slide > a:hover figure figcaption {
    bottom: -100px;
  }
  #banner .inner {
    padding: 100px 40px;
  }
  #banner .inner h3 {
    font: 900 30px/1.1 "Montserrat";
    margin-bottom: 10px;
  }
  #banner .inner p {
    font: 700 14px/1.3 "Montserrat";
  }
  #news .inner {
    padding: 80px 30px;
  }
  #news ul li {
    padding: 20px;
  }
  #news ul li .news_cont {
    margin-top: 20px;
  }
}
#content {
  width: 100%;
  margin-top: 80px;
}
#content .sub_visual {
  width: 100%;
  height: 300px;
  background: #eee;
}
#content .sub_visual .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
}
#content .sub_visual .inner h2.sub_tit {
  position: relative;
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  color: #3c2121;
  padding-left: 45px;
}
#content .sub_visual .inner h2.sub_tit::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 100%;
  background: url(../img/sub/sub_arrow.png) no-repeat center/100%;
}
#content .container .inner {
  padding: 100px 120px;
}
#content .container .inner h3 {
  font-family: "S-CoreDream";
  font-size: 35px;
  font-weight: 500;
  color: #3c2121;
  text-align: center;
  margin-bottom: 60px;
}
#content .container .inner h3 strong {
  font-weight: 600;
  color: #CE403D;
}

/* 미디어쿼리 */
@media screen and (max-width: 1599px) {
  #content .sub_visual .inner {
    padding: 0 60px;
  }
  #content .container .inner {
    padding: 100px;
  }
}
@media screen and (max-width: 1199px) {
  #content .sub_visual {
    height: 250px;
  }
  #content .sub_visual .inner h2.sub_tit {
    font-size: 40px;
    padding-left: 30px;
  }
  #content .sub_visual .inner h2.sub_tit::before {
    width: 25px;
  }
  #content .container .inner {
    padding: 80px 90px;
  }
  #content .container .inner h3 {
    font-size: 30px;
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 600px) {
  #content .sub_visual {
    height: 200px;
  }
  #content .sub_visual .inner {
    padding: 0 30px;
  }
  #content .sub_visual .inner h2.sub_tit {
    font-size: 30px;
    padding-left: 25px;
  }
  #content .sub_visual .inner h2.sub_tit::before {
    width: 20px;
  }
  #content .container .inner {
    padding: 50px;
  }
  #content .container .inner h3 {
    font-size: 22px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 450px) {
  #content .sub_visual {
    height: 150px;
  }
  #content .sub_visual .inner h2.sub_tit {
    font-size: 28px;
    padding-left: 20px;
  }
  #content .sub_visual .inner h2.sub_tit::before {
    width: 15px;
  }
  #content .container .inner {
    padding: 40px 30px;
  }
}
#content.history .sub_visual {
  background: #eee url(../img/sub/sub_visual_1.png) no-repeat center top/cover;
}
#content.history .container .box {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
#content.history .container .box::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 30px;
  width: 2px;
  height: calc(100% - 30px);
  background: #ffd1c3;
}
#content.history .container .box dl {
  position: relative;
  width: 50%;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
}
#content.history .container .box dl::after {
  content: "";
  position: absolute;
  top: 25px;
  width: 20px;
  height: 20px;
  background: url(../img/sub/icon.png) no-repeat center/100%;
  border-radius: 50%;
  z-index: 1;
}
#content.history .container .box dl dt {
  font-family: "S-CoreDream";
  font-size: 24px;
  font-weight: 500;
  color: #333;
  margin-bottom: 5px;
}
#content.history .container .box dl dd {
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-weight: 400;
  color: #999;
}
#content.history .container .box dl:nth-child(odd) {
  margin-right: 50%;
  padding-right: 30px;
  text-align: right;
}
#content.history .container .box dl:nth-child(odd)::after {
  right: -11px;
}
#content.history .container .box dl:nth-child(even) {
  margin-left: 50%;
  padding-left: 30px;
  text-align: left;
}
#content.history .container .box dl:nth-child(even)::after {
  left: -9px;
}

@media screen and (max-width: 899px) {
  #content.history .container .box::after {
    left: 0;
  }
  #content.history .container .box dl {
    width: 100%;
  }
  #content.history .container .box dl:nth-child(odd) {
    margin-right: 0;
    padding-right: 0;
    padding-left: 30px;
    text-align: left;
  }
  #content.history .container .box dl:nth-child(odd)::after {
    right: unset;
    left: -10px;
  }
  #content.history .container .box dl:nth-child(even) {
    margin-left: 0;
  }
  #content.history .container .box dl:nth-child(even)::after {
    left: -10px;
  }
}
@media screen and (max-width: 600px) {
  #content.history .container .box dl {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #content.history .container .box dl dt {
    font-size: 18px;
    margin-bottom: 0;
  }
  #content.history .container .box dl dd {
    font-size: 14px;
  }
  #content.history .container .box dl::after {
    top: 14px;
    width: 17px;
    height: 17px;
  }
  #content.history .container .box dl:nth-child(odd) {
    padding-left: 20px;
  }
  #content.history .container .box dl:nth-child(odd)::after {
    left: -8px;
  }
  #content.history .container .box dl:nth-child(even) {
    padding-left: 20px;
  }
  #content.history .container .box dl:nth-child(even)::after {
    left: -8px;
  }
}
#content.location .sub_visual {
  background: #eee url(../img/sub/sub_visual_2.png) no-repeat center top/cover;
}

#content.news .sub_visual {
  background: #eee url(../img/sub/sub_visual_3.png) no-repeat center top/cover;
}

#content.gallery .sub_visual {
  background: #eee url(../img/sub/sub_visual_4.png) no-repeat center top/cover;
}

#content.youtube .sub_visual {
  background: #eee url(../img/sub/sub_visual_5.png) no-repeat center top/cover;
}

/*# sourceMappingURL=style.css.map */
