/* 에스코어드림 라이트 */
@font-face {
  font-family: 'S-CoreDream';
  font-weight: 300;
  src:url('../font/SCDream3.eot');
  src:url('../font/SCDream3.eot?#iefix') format('embedded-opentype'),
      url('../font/SCDream3.woff') format('woff'),
      url('../font/SCDream3.otf') format('opentype');
}

/* 에스코어드림 레귤러 */
@font-face {
  font-family: 'S-CoreDream';
  font-weight: 400;
  src:url('../font/SCDream4.eot');
  src:url('../font/SCDream4.eot?#iefix') format('embedded-opentype'),
      url('../font/SCDream4.woff') format('woff'),
      url('../font/SCDream4.otf') format('opentype');
}

/* 에스코어드림 미디엄 */
@font-face {
  font-family: 'S-CoreDream';
  font-weight: 500;
  src:url('../font/SCDream5.eot');
  src:url('../font/SCDream5.eot?#iefix') format('embedded-opentype'),
      url('../font/SCDream5.woff') format('woff'),
      url('../font/SCDream5.otf') format('opentype');
}

/* 에스코어드림 볼드 */
@font-face {
  font-family: 'S-CoreDream';
  font-weight: 600;
  src:url('../font/SCDream6.eot');
  src:url('../font/SCDream6.eot?#iefix') format('embedded-opentype'),
      url('../font/SCDream6.woff') format('woff'),
      url('../font/SCDream6.otf') format('opentype');
}
