
/* 스킵 내비게이션 */
#skip li {
  float: left; position: absolute; display: block; width: 200px; top: -30px;
  a {
    overflow: hidden; width: 1px; height: 1px; font-size: 16px; color: #fff; text-align: center; white-space: nowrap; padding-top: 5px; z-index:-999;
    &:focus, &:active {
      position: absolute; width: 100%; height: 30px; left: 2px; top:32px; background:#CE403D; z-index: 999;
    }
  }
}

/* 전체 레이아웃 */
#wrap {position: relative; width: 100%; height: 100vh;}
.inner {
  position: relative; width: 100%; max-width: 1600px; height: 100%; margin: 0 auto;
}
.sub_bg {
  position: fixed; left: 0; top: 79px; 
  width: 100%; height: 0; background: #fff5d9; border-top: 1px solid #eee;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 20px 0px;
  z-index: 99; transition: .25s;

  &.on {
    top: 80px; height: 300px;
  }
}

/* 키프레임 애니메이션 */
@keyframes opacity {
  0% {opacity: 0;}
  100% {opacity: 1; }
}

/* 헤더 */
#header {
  position: fixed; left: 0; top: 0; 
  width: 100%; height: 80px; background: #fff;
  z-index: 100;

  //로고
  h1.logo {
    position: absolute; left: 30px; top: 50%; transform: translateY(-50%);
    img {
      display: block; width: 180px;
    }
  }

  //웹 메뉴 영역
  .menu_web {
    height: inherit;

    //주메뉴
    #gnb {
      height: inherit; display: inline-flex; margin-left: 270px; 

      >li {
        padding: 30px 12px 0;

        &.down::after {
          content: '\f078'; display: inline-block; vertical-align: middle; 
          font-family: 'fontAwesome'; font-size: 16px; color: #CE403D; 
          margin-left: 2px; margin-bottom: 5px;
        }

        >a {
          font: 500 17px/1 'S-CoreDream'; letter-spacing: -0.5px; color: #401e20; transition: .25s;
          &:hover {
            color: #CE403D;
          }
        }
        .sub_menu {
          display: none;
          position: absolute; left: 50%; top: 100%; transform: translateX(-50%);
          width: calc(100% - 180px); height: 300px;  padding-top: 30px; transition: .35s;

          h3 {
            display: inline-block; vertical-align: top;
            font: 500 25px/1 'S-CoreDream'; letter-spacing: -0.5px; color: #000;
            margin-right: 25px;
            &::after {
              content: ''; display: inline-block; width: 50px; height: 1px; background: #999;
              vertical-align: middle; margin: 0 0 5px 30px;
            }
          }

          ul {
            display: inline-block;
            li {
              margin-bottom: 15px;
              a {
                display: block; font: 300 20px/1 'S-CoreDream'; letter-spacing: -0.5px; color: #333; cursor: pointer; transition: .35s;

                &:hover {
                  font: 500 20px/1 'S-CoreDream'; color: #CE403D;
                }
              }
            }
          }

          img {
            position: absolute; right: 0; top: 0; 
            width: auto; height: 100%; object-fit: contain;
          }
          
        }

        &.on .sub_menu {
          display: block; animation: opacity 1s;
        }

      }
    }
    
  }

  // 유틸리티 메뉴
  .util {
    position: absolute; right: 100px; top: 50%; transform: translateY(-50%);
    
    ul {
      display: flex;
      li {
        position: relative; margin-right: 20px;
        &::after {
          content: ''; position: absolute; right: -10px; top: 50%; transform: translateY(-50%);
          display: block; width: 2px; height: 14px; background: #401e1e;
        }
        &:last-child {
          margin-right: 0;
          &::after {
            display: none;
          }
        }
        a {
          font: 700 15px/1 'Montserrat'; color: #401e1e; transition: .35s;
          &:hover {
            color: #CE403D;
          }      
        }
      }
    }

    
  }

  .btn_call {
    position: absolute; right: 30px; top: 50%; transform: translateY(-50%);
    display: block; width: 40px; height: 24px;
    background: url(../img/layout/icon_ham.png) no-repeat center/100%;
  }

  .mobile_area {
    display: none; position: fixed; left: 0; top: 0; 
    width: 100vw; height: 100%;
    background: rgba(0,0,0,0.7);

    .menu_mo {
      position: fixed; left: 0; top: 0;
      width: 600px; height: 100%; background: #fff;
  
      .menu_top {
        padding: 40px; 
        h2 {
          text-align: center;
          a {
            display: inline-block; width: 160px;
            img {width: 100%;}
          }
        }
  
        .util_mo {
          margin-top: 30px;
          ul {
            display: flex; justify-content: space-between;
            li {
              width: 49%;
  
              &:nth-child(1) a { 
                @include btn_white($width: 100%, $height: 48px, $fontSize: 14px);
              }
              &:nth-child(2) a { @include btn_red(
                $width: 100%, $height: 48px, $fontSize: 14px); 
              }
              
            }
          }
          
        }
      }

      #gnb_mo {
        background: #fff5d9; height: 100%; padding: 45px 30px;

        >ul {
          >li {
            margin-bottom: 15px;

            >a {
              position: relative; display: block; background: #ffe6a0;
              font: 500 23px/1 "S-CoreDream"; color: #3c2121;
              text-align: center; padding: 14px; transition: .1s;
            }

            &.down {
              >a::after {
                content: '\f078'; position: absolute; right: 20px; top: 50%; transform: translateY(-50%);
                font-family: 'fontAwesome'; font-size: 18px; color: #CE403D; 
              }
            }

            .sub_menu {
              display: none; position: relative; width: 97%;
              padding: 35px 35px 28px; margin: 15px 0 30px;
              z-index: 1; transition: .35s;

              &::before {
                content: ''; position: absolute; left: 7px; top: 7px; 
                width: 100%; height: 100%; background: #ee7868;
                border: 3px solid #3C2121; 
                z-index: -1; transition: .35s;
              }

              &::after {
                content: ''; position: absolute; left: 0; top: 0; 
                width: 100%; height: 100%; background: #fff;
                border: 3px solid #3C2121; 
                z-index: -1; transition: .35s;
              }

              ul {
                li {
                  margin-bottom: 15px; 
                  a {
                    display: inline-block;
                    font: 300 20px/1.3 'S-CoreDream'; color: #3c2121; 
                    border-bottom: 1px solid transparent;
                  }
                  &:last-child {
                    margin-bottom: 0;
                  }
                  &:hover {
                    a {
                      color: #f52334;  border-bottom: 1px solid #f52334;
                    }
                  }
                }
              }
              
            }

            &.on {
              >a {
                background: #3c2121; color: #fff;
              }
              .sub_menu {
                display: block;
              }

              &.down {
                >a::after {
                  content: '\f077'; color: #ffe6a0;
                }
              }
            }

          }
        }
      }

      .btn_close {
        position: absolute; right: 20px; top: 20px;
        display: block; width: 30px; height: 30px;
        background: url(../img/layout/ham_close.png) no-repeat center/100%;
      }


    }

    &.on {display: block;}
  
  }


}

/* 푸터 */
#footer {
  background: #3b2120;

  .foot_box_1 {

    .inner {padding: 0 30px;}
    
    .foot_menu {
      position: absolute; left: 198px; top: 50px; z-index: 1;
      ul {
        li {
          position: relative; display: inline-block; padding: 0 18px; 
          a {
            display: block; font: 300 17px/1.5 "S-CoreDream"; letter-spacing: -0.5px; color: rgba(255,255,255,0.7); transition: .35s;

            &:hover {
              color: rgba(255,255,255,1);
              border-bottom: 1px solid #fff;
            }
          }
          &::after {
            content: ''; position: absolute; right: -2px; top: 50%; transform: translateY(-50%);
            width: 1px; height: 70%; background: rgba(255,255,255,0.2);
          }
          &:last-child::after {
            display: none;
          }
        }
      }
    }
  }

  .foot_box_2 {
    .inner {
      padding: 50px 30px 45px;
    }

    .foot_logo {
      display: inline-block;
      a {
        display: block;
        img {width: 130px;}
      }
    }

    .sns_menu {
      position: absolute; right: 30px; top: 45px;
      ul {
        display: flex;
        li {
          margin-right: 15px;
          a {display: block;}
          &:last-child {margin-right: 0;}
        }
      }
    }

    .foot_txt {
      display: inline-block; margin-left: 50px;
      p {
        font: 300 15px/1.4 "Noto Sans KR"; color: rgba(255,255,255,0.4);
      }
      address {
        font: 300 15px/1.4 "Noto Sans KR"; color: rgba(255,255,255,0.4);
      }
    }
  }

  .foot_copy {
    background: #2d1817; padding: 15px 0; text-align: center;

    p {
      font: 300 14px/1.3 "Roboto"; color: rgba(255,255,255,0.4);
    }
  }

}


/* 미디어쿼리 */
@media screen and (max-width: 1599px) {

  /* 전체 레이아웃 */
  .sub_bg {
    &.on {
      height: 200px;
    }
  }

  /* 헤더 */
  #header {
    h1.logo {
      img {
        width: 130px;
      }
    }
    .menu_web {
      #gnb {
        margin-left: 220px;

        >li {
          .sub_menu {
            width: calc(100% - 140px); height: 200px;
            h3 {
              font: 500 22px/1 'S-CoreDream';
            }
            ul {
              li {
                margin-bottom: 12px;
                a {
                  font: 300 18px/1 'S-CoreDream';
                  &:hover {
                    font: 500 18px/1 'S-CoreDream';
                  }
                }
              }
            }
          }
        }
      }
    }
  }



}


@media screen and (max-width: 1199px) {

  /* 헤더 */
  #header {
    .menu_web {
      display: none;
    }
  }

  /* 푸터 */
  #footer {
    .foot_box_1 {
      padding: 10px 0; border-bottom: 1px solid rgba(255,255,255,0.1); text-align: center;
      .foot_menu {
        position: static; 
      }
    }

    .foot_box_2 {
      text-align: center;

      .inner {
        padding: 30px;
      }

      .foot_logo {
        display: block;
        a {
          img { width: 120px; }
        }
      }

      .sns_menu {
        position: static; display: inline-block; margin-top: 20px;
      }

      .foot_txt {
        display: block; margin-left: 0; margin-top: 20px;
      }
    }
  }

}



@media screen and (max-width: 600px) {

  /* 헤더 */
  #header {
    .mobile_area .menu_mo {
      width: 100%; max-width: 600px;
      .menu_top {padding: 30px;}
    }
  }


  /* 푸터 */
  #footer {
    .foot_box_1 .foot_menu ul li {
      display: inline-block; padding: 0 10px;
      a {
        font: 300 15px/1.5 "S-CoreDream";
      }
    }
    
  }


}


@media screen and (max-width: 450px) {

  /* 헤더 */
  #header {

    h1.logo {
      left: 20px;
      img {width: 115px;}
    }

    .util {
      display: none;
    }

    .btn_call {
      right: 20px; width: 32px;
    }

    .mobile_area .menu_mo {
      .menu_top {
        h2 {
          a {width: 130px;}
        }
        
        .util_mo ul{
          flex-direction: column; align-items: center;
          li {
            width: 100%; max-width: 200px;
            &:nth-child(1) {margin-bottom: 10px;}
          }
        }
      }
      
      #gnb_mo {
        padding: 35px 30px;

        >ul >li {
          >a {
            font: 500 18px/1 "S-CoreDream";
          }
          &.down >a::after {
            right: 10px; font-size: 14px;
          }

          .sub_menu {
            padding: 25px 25px 18px;

            ul li {
              margin-bottom: 10px;
              a {
                font: 300 16px/1.3 'S-CoreDream';
              }
            }
            
          }
        }
        
        


      }

      .btn_close {
        width: 25px; height: 25px;
      }
    }
  }

}

