

#visual {
  margin-top: 80px;
  .swiper1 {
    width: 100%; height: 100%;
    .swiper-slide {
      img {
        display: block; width: 100%; height: 100%; object-fit: cover;
      }
    }
    .swiper-pagination {
      bottom: unset; left: unset; right: 60px; top: 30%;
      width: auto; height: auto;
      
      .swiper-pagination-bullet {
        display: block; width: 100%; height: auto;
        background: transparent; border-radius: 0; margin: 0; margin-bottom: 20px;
        opacity: 0.4; text-align: left;

        span {
          display: inline-block; vertical-align: middle;
          font: 600 18px/1 'S-CoreDream'; color: #3c2121; letter-spacing: -1px;
          text-align: left;
          &.icon {
            width: 57px; height: 57px;
            background-repeat: no-repeat; background-position: 0 0; background-size: 200%;
            margin: 0 10px;
          }
        }

        &:nth-of-type(1) span.icon {background-image: url(../img/main/slide_icon_1.png);}
        &:nth-of-type(2) span.icon {background-image: url(../img/main/slide_icon_2.png);}

        &.swiper-pagination-bullet-active {
          opacity: 1;
          span {&.icon {background-position: 100% 0;}}
        }
      }
    }
  }
}

#product {
  background: #fff5d9;

  .row {
    width: 1420px;
    padding: 130px 0 80px;
    text-align: center;
    margin: 0 auto;
  }

  h2 {@include sec_tit();
    &:after {@include sec_tit_line();}
  }

  .tab_pro {
    position: relative;
    >li {
      >a {
        display: inline-block; position: absolute; top: -90px;
        font: 700 16px/1 'Nunito Sans'; color: #3c2121;
        border: 2px solid #ffefa4; border-radius: 25px; background: #ffefa4;
        padding: 5px 0 3px; transition: .35s;
        
        &::before {
          content: ''; 
          display: inline-block; width: 30px; height: 30px;
          background-repeat: no-repeat; background-position: center; background-size: 100%; 
          margin-right: 2px; margin-bottom: 5px; vertical-align: middle;
        }

        &:hover {
          background: #fae47e;
          border: 2px solid #ee7868;
        }
      }

      &:nth-child(1) > a {width: 120px; left: calc(50% - 310px);}
      &:nth-child(2) > a {width: 170px; left: calc(50% - 180px);}
      &:nth-child(3) > a {width: 150px; left: 50%;}
      &:nth-child(4) > a {width: 140px; left: calc(50% + 160px);}

      &:nth-child(1) > a::before {background-image: url(../img/main/list_icon_1.png);}
      &:nth-child(2) > a::before {background-image: url(../img/main/list_icon_2.png);}
      &:nth-child(3) > a::before {background-image: url(../img/main/list_icon_3.png);}
      &:nth-child(4) > a::before {background-image: url(../img/main/list_icon_4.png);}

      .tab_cont {
        display: none; margin-top: 100px; overflow: hidden;

        .swiper-slide {
          a {position: relative;
            display: block; width: 330px; margin: 0 auto;
            
            img {
              display: block; width: 100%; transition: .25s;
            }


            h3 {
              position: relative; display: inline-block;
              font: 600 22px/1 'S-CoreDream'; color: #3c2121; letter-spacing: -1.5px; 
              padding: 14px 22px 12px 25px; margin-top: 20px;

              &::after {
                content: ''; position: absolute; left: 0; top: 0;
                width: 100%; height: 100%; background: #fff5d9; border: 2px solid #3c2121; z-index: -1;
              }
              
              &::before {
                content: ''; position: absolute; right: -10px; bottom: -10px;
                width: 100%; height: 100%; background: #ee7868; border: 2px solid #3c2121; z-index: -1;
              }
            }


            p {
              font: 300 16px/1.3 'Noto Sans KR'; color: #666; letter-spacing: -0.8px;
              word-break: keep-all; margin-top: 20px;
            }

            &::after {
              content:''; position: absolute; left: 0; top: 0;
              width: 100%; height: 100%; 
              background-repeat: no-repeat;
              background-position: center top;
              background-size: 100%; 
              opacity: 0; z-index: -1; transition: 0.5s;
            }

            &:hover {
              img {
                opacity: 0;
              }
              &::after {
                opacity: 1; z-index: 1;
              }
            }

          }

          &.slide1 a::after {background-image: url(../img/main/pro_1_on.png);}
          &.slide2 a::after {background-image: url(../img/main/pro_2_on.png);}
          &.slide3 a::after {background-image: url(../img/main/pro_3_on.png);}
          &.slide4 a::after {background-image: url(../img/main/pro_4_on.png);}
          &.slide5 a::after {background-image: url(../img/main/pro_5_on.png);}
          &.slide6 a::after {background-image: url(../img/main/pro_6_on.png);}
          &.slide7 a::after {background-image: url(../img/main/pro_7_on.png);}
          &.slide8 a::after {background-image: url(../img/main/pro_8_on.png);}
          &.slide9 a::after {background-image: url(../img/main/pro_9_on.png);}
          &.slide10 a::after {background-image: url(../img/main/pro_10_on.png);}
          &.slide11 a::after {background-image: url(../img/main/pro_11_on.png);}
          &.slide12 a::after {background-image: url(../img/main/pro_12_on.png);}
          &.slide13 a::after {background-image: url(../img/main/pro_13_on.png);}
          &.slide14 a::after {background-image: url(../img/main/pro_14_on.png);}
          &.slide15 a::after {background-image: url(../img/main/pro_15_on.png);}
          &.slide16 a::after {background-image: url(../img/main/pro_16_on.png);}

        }

        .swiper-button-next {top: 40%; right: -30px; color: #f52334;}
        .swiper-button-prev {top: 40%; left: -30px; color: #f52334;}
        
      }

      &.on {
        >a {
          background: #fae47e;
          border: 2px solid #ee7868;
        }
        .tab_cont {display: block;}
      }

      
    }

  }

  .btn_pro {
    padding-bottom: 130px; text-align: center;
    ul {
      display: inline-flex;
      li {
        &:first-child {
          margin-right: 30px;
          a { @include btn_white(); }
        }
        &:last-child {
          a { @include btn_red(); }
        }
      }
    }
  }

}

#event {
  background: #def1ee;
  
  .row {
    position: relative;
    width: 1420px;
    padding: 130px 0;
    text-align: center;
    margin: 0 auto;
  }

  h2 {@include sec_tit();
    &:after {@include sec_tit_line();}
  }
  .swiper {
    margin-top: 50px;
  }
  .swiper-slide {
    padding-bottom: 150px;
    >a {
      position: relative; display: block; width: 330px; margin: 0 auto;

      &::before {
        content: ''; position: absolute; left: 0; bottom: 0;
        width: 0; height: 13px; background: #ee7868;
        z-index: 1; transition: .75s;

      }
      &::after {
        content: ''; position: absolute; right: 0; top: 0;
        width: 0; height: 13px; background: #ee7868;
        z-index: 1;transition: .75s;
      }

      img {
        position: relative; display: block; width: 100%; transition: .35s;
        transform: scale(0.85);

        &::after {
          content: ''; position: absolute; left: 0; top: 0;
          display: block; width: 200px; height: 200px; background: #fff; z-index: 10;
        }
      }

      figure {

        &::before {
          content: ''; position: absolute; left: 0; bottom: 0;
          width: 13px; height: 0; background: #ee7868;
          z-index: 1; transition: .75s;

        }
        &::after {
          content: ''; position: absolute; right: 0; top: 0;
          width: 13px; height: 0; background: #ee7868;
          z-index: 1; transition: .75s;
        }

        figcaption {
          position: absolute; left: 0; bottom: -300px;
          width: 100%; height: 140px; background: #3c2121; padding: 30px;
          opacity: 0; transition: .35s; 
          p {
            font: 400 18px/1.4 'S-CoreDream'; color: #fff; text-align: left; word-break: keep-all;
            &::after {
              content: ''; 
              position: absolute; left: 30px; bottom: -20px;
              width: 30px; height: 14px; 
              background: url(../img/main/arrow_cont.png) no-repeat;
              transition: .35s .35s; 
            }
          }
        }
      }
      
      &:hover {

        &::before {width: 100%;}
        &::after {width: 100%;}

        img {
          transform: scale(1);
        }
        figure {

          border-top-width: 13px;
          border-bottom-width: 13px;

          &::before {height: 100%;}
          &::after {height: 100%;}

          figcaption {
            bottom: -140px; opacity: 1;
            p {
              &::after {
                bottom: 30px;
              }
            }
          }
        }
      }
    }
  }

  .swiper-button-next {top: 50%; right: -30px; color: #f52334;}
  .swiper-button-prev {top: 50%; left: -30px; color: #f52334;}

}


#news {
  background: #ffdcd1;
  .inner {
    padding: 130px 0; text-align: center;
  }
  h2 {
    @include sec_tit();
    &:after {@include sec_tit_line();}
  }
  ul {
    width: 1000px; margin: 0 auto;
    li {
      display: flex;
      border-top: 2px solid #000;
      padding: 30px; transition: .5s;

      &:nth-child(2) {
        border-bottom: 2px solid #000;
      }

      >a {
        display: block; width: 310px; flex-shrink: 0;
        img {
          display: block; width: 100%; //object-fit: contain;
        }
      }
      .news_cont {
        padding-left: 25px; width: calc(100% - 310px); text-align: left;
        flex-grow: 1;
        span {
          display: inline-block; background: #402021; color: #fff;
          font: 700 15px/1 'Nunito Sans'; padding: 8px 22px; margin-bottom: 12px;
        }
        h3 {
          font: 600 20px/1 'S-CoreDream'; color: #3c2121; letter-spacing: -1px;
          margin-bottom: 20px;
        }
        p {
          display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp: 2; overflow:hidden;
          font: 300 17px/1.4 'Noto Sans KR'; color: #401e20; letter-spacing: -0.5px;
          margin-bottom: 25px;
        }
        a {
          display: inline-block;
          font: 700 16px/1 'Nunito Sans'; color: #4a4a4a; 
          padding-bottom: 2px;  border-bottom: 1px solid #494949;
          transition: .5s;
        }
      }

      &:hover {
        background:#ffd1c3;
        .news_cont {
          a {
            color: #f52334; border-bottom: 1px solid #f52334;
          }
        }
      }
    }
  }
  .btn_news {
    margin-top: 40px;
    a {@include btn_red();}
  }
  
}


#video {
  position: relative; background: #fff5c6; overflow: hidden;

  &::before {
    content: ""; display: block; width: 1260px; height: 1260px;
    position: Absolute; top: -58%; left: -11%;
    background: #ffefa4; opacity: 0.6; border-radius: 100%;
  }

  .inner {
    padding: 130px 0; text-align: center;
  }
  
  h2 {
    @include sec_tit();
    &:after {@include sec_tit_line();}
  }

  .vid_wrap {
    width: 1400px; margin: 30px auto; display: flex;

    .vid_left {
      position: relative; height: 566px;
      flex-shrink: 0; flex-basis: 60%;
      article {
        display: none; width: 100%; height: 100%;
        >a {
          display: block; width: 100%; height: 100%;
          >iframe {
            width: 100%; height: 100%;
          }
          >.btn_play {
            position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); 
            width: 133px; height: 132px; background: url(../img/main/btn_play.png) no-repeat;
            border: 0; cursor: pointer; z-index: 2;
          }
          &::after {
            content: ''; position: absolute; left: 0; top: 0;
            width: 100%; height: 100%;
            z-index: 1;
          }
          
        }

        &.on {
          display: block;
        }

        &.vid_1 > a::after {background: url(../img/main/video_img_1.jpg) no-repeat center/cover;}
        &.vid_2 > a::after {background: url(../img/main/video_img_2.jpg) no-repeat center/cover;}

      }

    }

    .vid_right {
      .tit_video {
        .txt {
          font: 700 25px/1 'S-CoreDream'; color: #3C2121;
          border: 3px solid #3C2121; border-radius: 3px; 
          text-align: center;
        }
        h4 {

        }
        p {

        }
        .moving_arrow {

        }
      }
      
    }
  }
  
}


/* 미디어쿼리 */
@media screen and (max-width: 1659px) {

  

  #product {
    .row {
      width: 1000px;
    }
    .tab_pro > li .tab_cont .swiper-slide a {
      width: 300px;
    }

  }

  #event {
    .row {
      width: 1050px;
    }
  }


}

@media screen and (max-width: 1499px) {

  #visual {
    .swiper1 {
      .swiper-pagination {
        bottom: 5%; left: 50%; top: unset; transform: translateX(-50%);
        width: 100%; margin-bottom: 0;
        .swiper-pagination-bullet {
          display: inline-block; width: auto;
          &:first-child {margin-right: 40px;}
          span.icon {margin: 0 5px;}
        }
      }
    }
  }

  

  

  

}

@media screen and (max-width: 1199px) {

  #visual {
    .swiper1 {
      .swiper-pagination {
        bottom: 5%;
        .swiper-pagination-bullet {
          &:first-child {margin-right: 15px;}
          span {
            &.icon {width: 45px; height: 45px;}
            &:nth-child(3) {display: none;}
          }
        }
      }
    }
  }


  #product {
    .row {
      width: 660px;
    }

    .tab_pro > li {
      >a {
        top: -80px;
        padding: 10px 0 8px;
        &::before {display: none;}
      }

      &:nth-child(1) > a {width: 100px; left: calc(50% - 270px);}
      &:nth-child(2) > a {width: 150px; left: calc(50% - 160px);}
      &:nth-child(3) > a {width: 130px; left: 50%;}
      &:nth-child(4) > a {width: 120px; left: calc(50% + 140px);}

      .tab_cont {
        margin-top: 80px;
      }
    }

    .btn_pro {
      ul {
        li {
          &:first-child {
            a { @include btn_white($width: 220px, $height: 52px, $fontSize: 16px); }
          }
          &:last-child {
            a { @include btn_red($width: 220px, $height: 52px, $fontSize: 16px); }
          }
        }
      }
    }
    
  }

  #event {
    .row {
      width: 680px;
    }
    .swiper-slide {
      >a {
        width: 300px;
        &::before {display: none;}
        &::after {display: none;}

        img {transform: scale(1);}

        figure {
          &::before {display: none;}
          &::after {display: none;}

          figcaption {
            height: 120px; padding: 20px;
            bottom: -120px; opacity: 1;
            p {
              &::after {
                display: none;
              }
            }
          }
        }

        &:hover figure figcaption { 
          bottom: -120px; 
        }
      }
    }
    .swiper-button-next {top: 55%;}
    .swiper-button-prev {top: 55%;}
  }

}

@media screen and (max-width: 899px) {

  #visual {
    .swiper1 {
      .swiper-pagination {
        bottom: 2%;
        .swiper-pagination-bullet {
          
          &:first-child {margin-right: 0;}
          span {
            font: 600 15px/1 "S-CoreDream";
            &:nth-child(1) {display: none;}
            &.icon {
              width: 12px; height: 12px; 
              background-color: #f7b34e; border-radius: 100%;
              margin: 0 2px;
            }
          }
          &:nth-of-type(1) span.icon {background-image: none;}
          &:nth-of-type(2) span.icon {background-image: none;}
        }
      }
    }
  }

  

  #product {
    .row {
      width: 100%; max-width: 350px;
    }

    h2 {@include sec_tit($fontSize: 40px, $marginBottom: 30px);}

    .tab_pro > li {
      >a {
        top: -70px;
        font: 500 14px/1 'Nunito Sans';
      }

      &:nth-child(1) > a {width: 80px; left: calc(50% - 240px);}
      &:nth-child(2) > a {width: 140px; left: calc(50% - 150px);}
      &:nth-child(3) > a {width: 110px; left: 50%;}
      &:nth-child(4) > a {width: 100px; left: calc(50% + 120px);}

      .tab_cont {
        margin-top: 70px;
      }
    }
  }

  #event {
    .row {
      width: 100%; max-width: 350px;
    }

    h2 {@include sec_tit($fontSize: 40px, $marginBottom: 30px);}

    .swiper-slide {
      >a {
        width: 330px;
      }
    }
  }


  #news {

    h2 {@include sec_tit($fontSize: 40px, $marginBottom: 30px);}
    
  }

}

@media screen and (max-width: 600px) {


  #product {
    .row {
      max-width: 280px;
    }

    .tab_pro > li {
      >a {
        top: -60px;
        font: 500 12px/1 'Nunito Sans';
      }

      &:nth-child(1) > a {width: 50px; left: calc(53% - 160px);}
      &:nth-child(2) > a {width: 90px; left: calc(53% - 100px);}
      &:nth-child(3) > a {width: 70px; left: 53%;}
      &:nth-child(4) > a {width: 60px; left: calc(53% + 80px);}

      .tab_cont {
        margin-top: 60px;
        .swiper-slide a {
          width: 250px;
          h3 {margin-top: 10px;}
        }
  
      }
    }

    .btn_pro {
      ul {
        li {
          &:first-child {
            margin-right: 20px;
            a { @include btn_white($width: 160px, $height: 48px, $fontSize: 14px); }
          }
          &:last-child {
            a { @include btn_red($width: 160px, $height: 48px, $fontSize: 14px); }
          }
        }
      }
    }
    
    
  }
  

  #event {
    .row {
      width: 100%; max-width: 320px;
    }
    .swiper-slide {
      >a {
        width: 300px;
      }
    }
  }
  
}



@media screen and (max-width: 450px) {


  #product {
    .row {
      max-width: 250px;
    }
    .tab_pro > li .tab_cont {
      .swiper-slide a {
        width: 230px;
  
        h3 {
          font: 600 18px/1 'S-CoreDream';
          padding: 12px 20px 9px 22px;
        }
      }

      .swiper-button-next {top: 35%;}
      .swiper-button-prev {top: 35%;}
    }

    .btn_pro {
      ul {
        li {
          &:first-child {
            margin-right: 10px;
            a { @include btn_white($width: 130px, $height: 48px, $fontSize: 14px); }
          }
          &:last-child {
            a { @include btn_red($width: 130px, $height: 48px, $fontSize: 14px); }
          }
        }
      }
    }

  }


  #event {
    .row {
      width: 100%; max-width: 250px;
    }
    .swiper-slide {
      >a {
        width: 230px;

        figure figcaption {
          height: 100px; bottom: -100px;
          p{
            font: 400 16px/1.4 'S-CoreDream';
          }
        }
        &:hover figure figcaption {
          bottom: -100px;
        }
      }
    }
  }



  
}