

#visual {
  margin-top: 80px;
  .swiper1 {
    width: 100%; height: 100%;
    .swiper-slide {
      
      &.slide1 {background: #f0e7d6;}
      &.slide2 {background: #bd7c65;}

      img {
        display: block; width: 100%; max-width: 1660px; height: calc(100vh - 80px); object-fit: cover; margin: 0 auto;
      }
    }
    .swiper-pagination {
      bottom: 3%; left: 50%; transform: translateX(-50%);
      width: 100%; height: auto; margin-bottom: 0;
      
      .swiper-pagination-bullet {
        display: inline-block; width: auto; height: auto;
        background: transparent; border-radius: 0; margin: 0;
        opacity: 0.4; text-align: left;

        &:first-child {margin-right: 40px;}

        span {
          display: inline-block; vertical-align: middle;
          font: 600 18px/1 'S-CoreDream'; color: #3c2121; letter-spacing: -1px;
          text-align: left;

          &.icon {
            width: 50px; height: 50px;
            background-repeat: no-repeat; background-position: 0 0; background-size: 200%;
            margin: 0 5px;
          }
        }

        &:nth-of-type(1) span.icon {background-image: url(../img/main/slide_icon_1.png);}
        &:nth-of-type(2) span.icon {background-image: url(../img/main/slide_icon_2.png);}

        &.swiper-pagination-bullet-active {
          opacity: 1;
          span {&.icon {background-position: 100% 0;}}
        }
      }
    }
  }
}

#product {
  background: #fff5d9;

  .row {
    width: 1420px;
    padding: 130px 0 60px;
    text-align: center;
    margin: 0 auto;
  }

  h2 {@include sec_tit();
    &:after {@include sec_tit_line();}
  }

  .tab_pro {
    position: relative;
    >li {
      >a {
        display: inline-block; position: absolute; top: -90px;
        font: 700 16px/1 'Nunito Sans'; color: #3c2121;
        border: 2px solid #ffefa4; border-radius: 25px; background: #ffefa4;
        padding: 5px 0 3px; transition: .35s;
        
        &::before {
          content: ''; 
          display: inline-block; width: 30px; height: 30px;
          background-repeat: no-repeat; background-position: center; background-size: 100%; 
          margin-right: 2px; margin-bottom: 5px; vertical-align: middle;
        }

        &:hover {
          background: #fae47e;
          border: 2px solid #fae47e;
        }
      }

      &:nth-child(1) > a {width: 120px; left: calc(50% - 310px);}
      &:nth-child(2) > a {width: 170px; left: calc(50% - 180px);}
      &:nth-child(3) > a {width: 150px; left: 50%;}
      &:nth-child(4) > a {width: 140px; left: calc(50% + 160px);}

      &:nth-child(1) > a::before {background-image: url(../img/main/list_icon_1.png);}
      &:nth-child(2) > a::before {background-image: url(../img/main/list_icon_2.png);}
      &:nth-child(3) > a::before {background-image: url(../img/main/list_icon_3.png);}
      &:nth-child(4) > a::before {background-image: url(../img/main/list_icon_4.png);}

      .tab_cont {
        display: none; margin-top: 100px; overflow: hidden;

        .swiper-slide {
          a {position: relative;
            display: block; width: 330px; margin: 0 auto;
            
            img {
              display: block; width: 100%; transition: .25s;
            }


            h3 {
              position: relative; display: inline-block;
              font: 600 22px/1 'S-CoreDream'; color: #3c2121; letter-spacing: -1.5px; 
              padding: 14px 22px 12px 25px; margin-top: 20px;

              &::after {
                content: ''; position: absolute; left: 0; top: 0;
                width: 100%; height: 100%; background: #fff5d9; border: 2px solid #3c2121; z-index: -1;
              }
              
              &::before {
                content: ''; position: absolute; right: -10px; bottom: -10px;
                width: 100%; height: 100%; background: #ee7868; border: 2px solid #3c2121; z-index: -1;
              }
            }


            p {
              font: 400 16px/1.3 'Noto Sans KR'; color: #666; letter-spacing: -0.8px;
              word-break: keep-all; margin-top: 20px;
            }

            &::after {
              content:''; position: absolute; left: 0; top: 0;
              width: 100%; height: 100%; 
              background-repeat: no-repeat;
              background-position: center top;
              background-size: 100%; 
              opacity: 0; z-index: -1; transition: 0.5s;
            }

            &:hover {
              img {
                opacity: 0;
              }
              &::after {
                opacity: 1; z-index: 1;
              }
            }

          }

          &.slide1 a::after {background-image: url(../img/main/pro_1_on.png);}
          &.slide2 a::after {background-image: url(../img/main/pro_2_on.png);}
          &.slide3 a::after {background-image: url(../img/main/pro_3_on.png);}
          &.slide4 a::after {background-image: url(../img/main/pro_4_on.png);}
          &.slide5 a::after {background-image: url(../img/main/pro_5_on.png);}
          &.slide6 a::after {background-image: url(../img/main/pro_6_on.png);}
          &.slide7 a::after {background-image: url(../img/main/pro_7_on.png);}
          &.slide8 a::after {background-image: url(../img/main/pro_8_on.png);}
          &.slide9 a::after {background-image: url(../img/main/pro_9_on.png);}
          &.slide10 a::after {background-image: url(../img/main/pro_10_on.png);}
          &.slide11 a::after {background-image: url(../img/main/pro_11_on.png);}
          &.slide12 a::after {background-image: url(../img/main/pro_12_on.png);}
          &.slide13 a::after {background-image: url(../img/main/pro_13_on.png);}
          &.slide14 a::after {background-image: url(../img/main/pro_14_on.png);}
          &.slide15 a::after {background-image: url(../img/main/pro_15_on.png);}
          &.slide16 a::after {background-image: url(../img/main/pro_16_on.png);}

        }

        .swiper-button-next {top: 40%; right: -30px; color: #CE403D;}
        .swiper-button-prev {top: 40%; left: -30px; color: #CE403D;}
        
      }

      &.on {
        >a {
          background: #fae47e;
          border: 2px solid #3c2121;
        }
        .tab_cont {display: block;}
      }

      
    }

  }

  .btn_pro {
    padding-bottom: 100px; text-align: center;
    ul {
      display: inline-flex;
      li {
        &:first-child {
          margin-right: 30px;
          a { @include btn_white(); }
        }
        &:last-child {
          a { @include btn_red(); }
        }
      }
    }
  }

}

#event {
  background: #def1ee;
  
  .row {
    position: relative;
    width: 1420px;
    padding: 130px 0 100px;
    text-align: center;
    margin: 0 auto;
  }

  h2 {@include sec_tit();
    &:after {@include sec_tit_line();}
  }

  .swiper-slide {
    padding-bottom: 150px;
    >a {
      position: relative; display: block; width: 330px; margin: 0 auto;

      &::before {
        content: ''; position: absolute; left: 0; bottom: 0;
        width: 0; height: 13px; background: #ee7868;
        z-index: 1; transition: .35s;

      }
      &::after {
        content: ''; position: absolute; right: 0; top: 0;
        width: 0; height: 13px; background: #ee7868;
        z-index: 1;transition: .35s;
      }

      img {
        position: relative; display: block; width: 100%; transition: .25s;
        transform: scale(0.85);

        &::after {
          content: ''; position: absolute; left: 0; top: 0;
          display: block; width: 200px; height: 200px; background: #fff; z-index: 10;
        }
      }

      figure {

        &::before {
          content: ''; position: absolute; left: 0; bottom: 0;
          width: 13px; height: 0; background: #ee7868;
          z-index: 1; transition: .35s;

        }
        &::after {
          content: ''; position: absolute; right: 0; top: 0;
          width: 13px; height: 0; background: #ee7868;
          z-index: 1; transition: .35s;
        }

        figcaption {
          position: absolute; left: 0; bottom: -300px;
          width: 100%; height: 140px; background: #3c2121; padding: 30px;
          opacity: 0; transition: .35s; 
          p {
            font: 400 18px/1.4 'S-CoreDream'; color: #fff; text-align: left; word-break: keep-all;
            &::after {
              content: ''; 
              position: absolute; left: 30px; bottom: -10px;
              width: 30px; height: 14px; 
              background: url(../img/main/arrow_cont.png) no-repeat;
              transition: .35s .25s; 
            }
          }
        }
      }
      
      &:hover {

        &::before {width: 100%;}
        &::after {width: 100%;}

        img {
          transform: scale(1);
        }
        figure {

          border-top-width: 13px;
          border-bottom-width: 13px;

          &::before {height: 100%;}
          &::after {height: 100%;}

          figcaption {
            bottom: -140px; opacity: 3;
            p {
              &::after {
                bottom: 30px;
              }
            }
          }
        }
      }
    }
  }

  .swiper-button-next {top: 52%; right: -30px; color: #CE403D;}
  .swiper-button-prev {top: 52%; left: -30px; color: #CE403D;}

}

#banner {
  background: url(../img/main/banner.png) no-repeat center/cover fixed;

  .inner {
    padding: 130px 0; text-align: center;

    h3 {
      font: 900 50px/1.3 'Montserrat'; color: #CE403D;
    }
    p {
      font: 700 26px/1.3 'Montserrat'; color: #3c2121;
    }
  }
}

#news {
  position: relative; background: #fff5c9; overflow: hidden;

  &::before {
    content: ""; display: block; width: 1260px; height: 1260px;
    position: Absolute; top: -58%; left: -11%;
    background: #ffefa4; opacity: 0.6; border-radius: 100%;
  }

  .inner {
    padding: 130px 150px 100px; text-align: center;
  }

  h2 {
    @include sec_tit();
    &:after {@include sec_tit_line();}
  }

  ul {
    width: 100%; max-width: 1200px; margin: 0 auto;
    li {
      display: flex;
      border-top: 2px solid #3c2121;
      padding: 30px; transition: .5s;

      &:nth-child(2) {
        border-bottom: 2px solid #3c2121;
      }

      >a {
        display: block; width: 100%; max-width: 310px; flex-shrink: 0;
        img {
          display: block; width: 100%;
        }
      }
      .news_cont {
        width: calc(100% - 310px); padding-left: 25px; text-align: left; flex-grow: 1;
        span {
          display: inline-block; background: #3c2121; color: #fff;
          font: 500 15px/1 'Roboto'; padding: 8px 22px; margin-bottom: 12px;
        }
        h3 {
          font: 600 20px/1.3 'S-CoreDream'; color: #3c2121; letter-spacing: -1px;
          margin-bottom: 20px;
        }
        p {
          display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp: 2; overflow:hidden;
          font: 300 17px/1.4 'Noto Sans KR'; color: #401e20; letter-spacing: -0.5px;
          margin-bottom: 25px;
        }
        a {
          display: inline-block;
          font: 700 16px/1 'Nunito Sans'; color: #4a4a4a; 
          padding-bottom: 2px;  border-bottom: 1px solid #494949;
          transition: .5s;
        }
      }

      &:hover {
        background: rgba(255,255,255,0.3);
        .news_cont {
          a {
            color: #CE403D; border-bottom: 1px solid #CE403D;
          }
        }
      }
    }
  }
  .btn_news {
    margin-top: 60px;
    a {@include btn_red();}
  }
  
}


/* 미디어쿼리 */
@media screen and (max-width: 1599px) {

  #product {
    .row {
      width: 1000px;
    }
    .tab_pro > li .tab_cont .swiper-slide a {
      width: 300px;
    }

  }

  #event {
    .row {
      width: 1050px;
    }
  }

}


@media screen and (max-width: 1199px) {

  #visual {
    .swiper1 {

      .swiper-slide {
        img {
          height: calc(90vh - 80px);
        }
      }
      .swiper-pagination {
        bottom: 20px;
        .swiper-pagination-bullet {
          &:first-child {margin-right: 10px;}
          span {
            &.icon {width: 40px; height: 40px;}
            &:nth-child(3) {display: none;}
          }
        }
      }
    }
  }


  #product {
    .row {
      width: 660px;
    }

    .tab_pro > li {
      >a {
        top: -80px;
        padding: 10px 0 8px;
        &::before {display: none;}
      }

      &:nth-child(1) > a {width: 100px; left: calc(50% - 270px);}
      &:nth-child(2) > a {width: 150px; left: calc(50% - 160px);}
      &:nth-child(3) > a {width: 130px; left: 50%;}
      &:nth-child(4) > a {width: 120px; left: calc(50% + 140px);}

      .tab_cont {
        margin-top: 80px;
      }
    }

    .btn_pro {
      ul {
        li {
          &:first-child {
            a { @include btn_white($width: 220px, $height: 52px, $fontSize: 16px); }
          }
          &:last-child {
            a { @include btn_red($width: 220px, $height: 52px, $fontSize: 16px); }
          }
        }
      }
    }
    
  }


  #event {
    .row {
      width: 680px;
    }
    .swiper-slide {
      >a {
        width: 300px;
        &::before {display: none;}
        &::after {display: none;}

        img {transform: scale(1);}

        figure {
          &::before {display: none;}
          &::after {display: none;}

          figcaption {
            height: 120px; padding: 20px;
            bottom: -120px; opacity: 1;
            p {
              &::after {
                display: none;
              }
            }
          }
        }

        &:hover figure figcaption { 
          bottom: -120px; 
        }
      }
    }
    .swiper-button-next {top: 55%;}
    .swiper-button-prev {top: 55%;}
  }


  #banner {
    .inner {
      h3 {
        font: 900 45px/1.3 'Montserrat';
      }
      p {
        font: 700 20px/1.3 'Montserrat';
      }
    }
  }


  #news {
    .inner {
      padding: 130px 100px 100px;
    }

    .btn_news {
      a { @include btn_red($width: 220px, $height: 52px, $fontSize: 16px); }
    }

  }



}

@media screen and (max-width: 899px) {

  #visual {
    .swiper1 {
      .swiper-slide {
        img {
          height: calc(70vh - 80px);
        }
      }
      .swiper-pagination {
        bottom: 10px;
        .swiper-pagination-bullet {
          
          &:first-child {margin-right: 0;}
          span {
            font: 600 15px/1 "S-CoreDream";
            &:nth-child(1) {display: none;}
            &.icon {
              width: 12px; height: 12px; 
              background-color: #f7b34e; border-radius: 100%;
              margin: 0 2px;
            }
          }
          &:nth-of-type(1) span.icon {background-image: none;}
          &:nth-of-type(2) span.icon {background-image: none;}
        }
      }
    }
  }

  

  #product {
    .row {
      width: 100%; max-width: 350px; padding: 80px 0 50px;
    }

    h2 {@include sec_tit($fontSize: 40px, $marginBottom: 30px);}

    .tab_pro > li {
      >a {
        top: -70px;
        font: 400 14px/1 'Nunito Sans';
      }

      &:nth-child(1) > a {width: 80px; left: calc(50% - 240px);}
      &:nth-child(2) > a {width: 140px; left: calc(50% - 150px);}
      &:nth-child(3) > a {width: 110px; left: 50%;}
      &:nth-child(4) > a {width: 100px; left: calc(50% + 120px);}

      .tab_cont {
        margin-top: 70px;
      }
    }

    .btn_pro {padding-bottom: 80px;}
  }

  #event {
    .row {
      width: 100%; max-width: 350px; padding: 80px 0;
    }

    h2 {@include sec_tit($fontSize: 40px, $marginBottom: 30px);}

    .swiper-slide {
      >a {
        width: 330px;
      }
    }
  }


  #banner {
    .inner {
      padding: 100px;
      h3 {
        font: 900 40px/1 'Montserrat'; margin-bottom: 10px;
      }
      p {
        font: 700 18px/1.3 'Montserrat';
      }
    }
  }


  #news {

    .inner {
      padding: 80px;
    }

    h2 {@include sec_tit($fontSize: 40px, $marginBottom: 30px);}

    ul {
      li {
        display: block;
        .news_cont {
          width: 100%; padding-left: 0; margin-top: 20px;
          h3 {font: 600 18px/1.3 "S-CoreDream"; margin-bottom: 10px;}
          span {display: none;}
          p {font: 300 15px/1.4 "Noto Sans KR"; -webkit-line-clamp: 3; margin-bottom: 20px;}
        }
      }
    }

    .btn_news {
      margin-top: 50px;
    }

  
  }

}


@media screen and (max-width: 750px) {

  #visual .swiper1 .swiper-slide img {
    height: 100%;
  }
}


@media screen and (max-width: 600px) {


  #product {
    .row {
      max-width: 280px; padding: 80px 0 20px;
    }

    .tab_pro > li {
      >a {
        top: -60px;
        font: 400 12px/1 'Nunito Sans';
      }

      &:nth-child(1) > a {width: 50px; left: calc(53% - 160px);}
      &:nth-child(2) > a {width: 90px; left: calc(53% - 100px);}
      &:nth-child(3) > a {width: 70px; left: 53%;}
      &:nth-child(4) > a {width: 60px; left: calc(53% + 80px);}

      .tab_cont {
        margin-top: 60px;
        .swiper-slide a {
          width: 250px;
          h3 {margin-top: 10px;}
        }
  
      }
    }

    .btn_pro {
      ul {
        li {
          &:first-child {
            margin-right: 20px;
            a { @include btn_white($width: 160px, $height: 48px, $fontSize: 14px); }
          }
          &:last-child {
            a { @include btn_red($width: 160px, $height: 48px, $fontSize: 14px); }
          }
        }
      }
    }
    
    
  }
  

  #event {
    .row {
      width: 100%; max-width: 320px;
    }
    .swiper-slide {
      >a {
        width: 300px;
      }
    }
  }


  #banner {
    .inner {
      padding: 100px 80px;
      h3 {
        font: 900 35px/1.1 'Montserrat'; margin-bottom: 10px;
      }
      p {
        font: 700 14px/1.3 'Montserrat';
      }
    }
  }


  #news {

    .inner {
      padding: 80px 50px;
    }

    .btn_news {
      a { @include btn_red($width: 160px, $height: 48px, $fontSize: 14px); }
    }
  
  }


  
}



@media screen and (max-width: 450px) {


  #product {
    .row {
      max-width: 250px;
    }
    .tab_pro > li .tab_cont {
      .swiper-slide a {
        //width: 100%;
        width: 230px;
  
        h3 {
          font: 600 18px/1 'S-CoreDream';
          padding: 12px 20px 9px 22px;
        }
      }

      .swiper-button-next {top: 35%;}
      .swiper-button-prev {top: 35%;}
    }

    .btn_pro {
      ul {
        li {
          &:first-child {
            margin-right: 10px;
            a { @include btn_white($width: 130px, $height: 48px, $fontSize: 14px); }
          }
          &:last-child {
            a { @include btn_red($width: 130px, $height: 48px, $fontSize: 14px); }
          }
        }
      }
    }

  }


  #event {
    .row {
      width: 100%; max-width: 250px;
    }
    .swiper-slide {
      >a {
        width: 230px;

        figure figcaption {
          height: 100px; bottom: -100px;
          p{
            font: 400 16px/1.4 'S-CoreDream';
          }
        }
        &:hover figure figcaption {
          bottom: -100px;
        }
      }
    }
  }


  #banner {
    .inner {
      padding: 100px 40px;
      h3 {
        font: 900 30px/1.1 'Montserrat'; margin-bottom: 10px;
      }
      p {
        font: 700 14px/1.3 'Montserrat';
      }
    }
  }


  #news {

    .inner {
      padding: 80px 30px;
    }

    ul {
      li {
        padding: 20px;
        .news_cont {
          margin-top: 20px;
        }
      }
    }
  
  }



  
}