

/* 비주얼 */
#visual {
  margin-top: 80px;
  .swiper1 {
    width: 100%; height: 100%;
    .swiper-slide {
      img {
        display: block; width: 100%; height: 100%; object-fit: cover;
      }
    }
  }
}

#product {
  background: #fff5d9;

  .row {
    width: 1420px;
    padding: 130px 0;
    text-align: center;
    margin: 0 auto;
  }

  h2 {@include sec_tit();
    &:after {@include sec_tit_line();}
  }

  .tab_pro {
    position: relative;
    >li {
      >a {
        display: block; position: absolute; top: -60px;
        font: 400 16px/1 "Nunito Sans"; color: #401e20;
        z-index: 1;

        &::after {
          content: ''; position: absolute;
          width: 54px; height: 54px; background: #ffe001; border-radius: 50%;
          top: 50%; left: 50%; transform: translate(-50%,-50%);
          transition: .5s; z-index: -1; opacity: 0;
        }

        &:hover {
          font: 700 16px/1 "Nunito Sans";
          &::after {opacity: 1;}
        }
      }

      &:nth-child(1) > a {width: 80px; left: calc(50% - 200px);}
      &:nth-child(2) > a {width: 120px; left: calc(50% - 120px);}
      &:nth-child(3) > a {width: 100px; left: 50%;}
      &:nth-child(4) > a {width: 100px; left: calc(50% + 100px);}


      .tab_cont {
        display: none; margin-top: 60px; overflow: hidden;
        
        .swiper-slide {
          a {
            display: block; width: 330px; margin: 0 auto;
            
            img {
              display: block; width: 100%; transition: .35s;
            }
            h3 {
              position: relative; display: inline-block;
              font: 600 22px/1 'S-CoreDream'; color: #3c2121; letter-spacing: -1.5px;
              background: #ee7868; border: 2px solid #3c2121; 
              padding: 10px 27px 15px 20px; margin-top: 20px; z-index: 1;
              
              &::after {
                content: ''; position: absolute; left: -7px; top: -7px;
                width: 100%; height: 100%; background: #fff5d9; border: 2px solid #3c2121; z-index: -1;
              }
            }
            p {
              font: 300 16px/1.3 'Noto Sans KR'; color: #666; letter-spacing: -0.8px;
              word-break: keep-all; margin-top: 20px;
            }
            &:hover {
              background-repeat: no-repeat;
              background-position: center top;
              background-size: 100%;
              img {
                opacity: 0;
              }
            }
          }

        }

        .slide1 a:hover {background-image: url(../img/main/pro_1_on.png);}
        .slide2 a:hover {background-image: url(../img/main/pro_2_on.png);}
        .slide3 a:hover {background-image: url(../img/main/pro_3_on.png);}
        .slide4 a:hover {background-image: url(../img/main/pro_4_on.png);}
        .slide5 a:hover {background-image: url(../img/main/pro_5_on.png);}
        .slide6 a:hover {background-image: url(../img/main/pro_6_on.png);}
        .slide7 a:hover {background-image: url(../img/main/pro_7_on.png);}
        .slide8 a:hover {background-image: url(../img/main/pro_8_on.png);}
        .slide9 a:hover {background-image: url(../img/main/pro_9_on.png);}
        .slide10 a:hover {background-image: url(../img/main/pro_10_on.png);}
        .slide11 a:hover {background-image: url(../img/main/pro_11_on.png);}
        .slide12 a:hover {background-image: url(../img/main/pro_12_on.png);}
        .slide13 a:hover {background-image: url(../img/main/pro_13_on.png);}
        .slide14 a:hover {background-image: url(../img/main/pro_14_on.png);}
        .slide15 a:hover {background-image: url(../img/main/pro_15_on.png);}
        .slide16 a:hover {background-image: url(../img/main/pro_16_on.png);}

        .swiper-button-next {top: 40%; right: -30px;}
        .swiper-button-prev {top: 40%; left: -30px}
        
      }

      &.on {
        >a {
          font: 700 16px/1 "Nunito Sans";
          &::after {opacity: 1;}
        }
        .tab_cont {display: block;}
      }

      
    }
 
  }

  .btn_pro {
    display: inline-block; margin-top: 50px;
    ul {
      display: flex;
      li {
        &:first-child {
          margin-right: 30px;
          a { @include btn_white(); }
        }
        &:last-child {
          a { @include btn_red(); }
        }
      }
    }
  }

}

#event {
  background: #ffdcd1;
  
  .row {
    position: relative;
    width: 1300px;
    padding: 130px 0;
    text-align: center;
    margin: 0 auto;
  }

  h2 {@include sec_tit();
    &:after {@include sec_tit_line();}
  }
  .swiper {
    margin-top: 50px;
  }
  .swiper-slide {
    padding-bottom: 40px;
    >a {
      position: relative; display: block; width: 400px; margin: 0 auto;
      img {
        display: block; width: 100%; transition: .35s;
        transform: scale(0.85);
      }
      figcaption {
        position: absolute; left: 0; bottom: -100px;
        width: 100%; background: #3c2121; padding: 20px 20px 60px;
        transform: scale(1.1);
        opacity: 0; transition: .35s; 
        p {
          font: 400 18px/1.4 "S-CoreDream"; color: #fff; text-align: left; word-break: keep-all;
          &::after {
            content: ''; 
            position: absolute; left: 20px; bottom: -20px;
            width: 30px; height: 14px; background: url(../img/main/arrow_cont.png) no-repeat;
            transition: .35s .25s; 
          }
        }

      }
      &:hover {
        img {
          transform: scale(1.1);
        }
        figcaption {
          bottom: -30px; opacity: 1;
          p {
            &::after {
              bottom: 25px;
            }
          }
        }
      }
    }
  }

  .swiper-button-next {top: 55%; right: -40px;}
  .swiper-button-prev {top: 55%; left: -40px}

}


/* 미디어쿼리 */
@media screen and (max-width: 1659px) {

  #product {
    .row {
      width: 1100px;
    }
  }

}

@media screen and (max-width: 1499px) {

  

  #event {
    .row {
      width: 1000px;
    }
    .swiper-slide {
      >a {
        width: 300px;
      }
    }
  }

  

}

@media screen and (max-width: 1199px) {

  #product {
    .row {
      width: 800px;
    }
  }

  #event {
    .row {
      width: 650px;
    }
  }

}

@media screen and (max-width: 899px) {

  #product {
    .row {
      width: 100%; max-width: 500px;
    }
  }

  #event {
    .row {
      width: 100%; max-width: 500px;
    }
    .swiper-slide {
      >a {
        width: 400px;
      }
    }
  }

}

@media screen and (max-width: 600px) {

  #product .tab_pro > li .tab_cont .swiper-slide a {
    width: 300px;
  }

  #event {
    .row {
      width: 100%; max-width: 500px;
    }
    .swiper-slide {
      >a {
        width: 300px;
      }
    }
  }
  
}