
@mixin sec_tit($fontSize: 50px, $marginBottom: 40px) {
  position: relative;
  display: inline-block;
  font-family: 'Montserrat';
  font-size: $fontSize;
  color: #CE403D;
  font-weight: 900;
  letter-spacing: -0.5px;
  margin-bottom: $marginBottom;
}

@mixin sec_tit_line() {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: #CE403D;
  bottom: -5px;
  left: 0;
  transition: .5s;
}

@mixin btn_white($width: 287px, $height: 60px, $fontSize: 18px, $fontWeight: 700, $lineHeight: 3) {
  position: relative;
  display: inline-block;
  width: $width; height: $height;
  border-radius: 36px;
  border: solid 3px #CE403D;
  font-family: 'Nunito Sans';
  color: #CE403D;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
  overflow: hidden;
}

@mixin btn_red($width: 287px, $height: 60px, $fontSize: 18px, $fontWeight: 700, $lineHeight: 3) {
  position: relative;
  display: inline-block;
  width: $width; height: $height;
  background: #CE403D;
  border-radius: 36px;
  border: solid 3px #CE403D;
  font-family: 'Nunito Sans';
  color: #fff;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}
