@charset 'utf-8';

/* 폰트 파일 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import 'font.scss';

/* css 파일 */
@import 'reset.scss';
@import 'mixin.scss';
@import 'layout.scss';
@import 'main.scss';
@import 'sub.scss';
@import 'history.scss';
@import 'location.scss';
@import 'news.scss';
@import 'gallery.scss';
@import 'youtube.scss';
@import 'login.scss';
@import 'join.scss';